<a href="https://colab.research.google.com/github/cappelchi/calcio_notebooks/blob/main/report/football_live_cv_handicap_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Делает отчет по предиктам в тоталах и визуализрует результат<br>
Важные переменные

In [ ]:
remove_list = ['A1relativ', 'A2relativ', 'DA1relativ', 'DA2relativ'] #Ненужные фичи для предикта
selected_model1_version = 6 #3 #6 # Номер модели1
selected_model2_version = 5 #4 #5 # Номер модели2
folded = True #False #True # Модель на фолдах или нет

### Project config

In [ ]:
try:
    import neptune
except:
    !pip install neptune >> None
    import neptune
#from neptune.new.integrations.tensorflow_keras import NeptuneCallback
def get_credential(frmwork = 'neptune_team'):
    with open('credential.txt', 'r') as container:
        for line in container:
            if frmwork in line:
                login, psw = line.split(' ')[1], line.split(' ')[2].split('\n')[0]
                return login, psw

In [ ]:
#@title Set API key for neptune.ai
set_api = True #@param {type:"boolean"}
if set_api:
    username, api_key = get_credential()

### Installations

In [ ]:
!pip install catboost >> None

### Downloads

In [ ]:
!wget -q -O ./data.rar https://getfile.dokpub.com/yandex/get/...здесь линк на холдаут
!unrar x ./data.rar ./ >> None
!mv ./FirstTime ./Result2

### Imports

In [ ]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100
print(pd.__version__)
print(np.__version__)

1.5.3
1.22.4

In [ ]:
np.iinfo(np.int8).max, np.iinfo(np.int16).max, np.iinfo(np.int32).max

(127, 32767, 2147483647)

In [ ]:
np.finfo(np.float16).precision, np.finfo(np.float32).precision, np.finfo(np.float64).precision

(3, 6, 15)

In [ ]:
import os, psutil, time
from glob import glob
from neptune.utils import stringify_unsupported
from tqdm import tqdm
import functools
import gc

In [ ]:
from catboost import CatBoost
from scipy.stats import poisson

### Code

#####Functions

In [ ]:
def define_files_list(data_start:str, folder:str, date_end = '') -> list:
    '''
    data_start, data_end
    folder: ./folder/
    '''
    if date_end == '':
        return sorted(
            [file
            for file in glob(folder + '*')
            if int(file.split('/')[-1].split('.csv')[0]) >= int(date_start)]
            )
    else:
        return sorted(
            [file
            for file in glob(folder + '*')
            if int(file.split('/')[-1].split('.csv')[0]) >= int(date_start) & \
                int(file.split('/')[-1].split('.csv')[0]) <= int(date_end)]
            )

In [ ]:
def create_id_dict(date_start, folder, cols, date_end = '') -> dict:
    '''
    '''
    return pd.concat(map(
        functools.partial(
            pd.read_csv, sep=';', usecols =  cols
                            ),
                    define_files_list(date_start, folder, date_end = date_end)
                    ), ignore_index=True).drop_duplicates(subset = ['Id'], keep = 'last').set_index('Id').to_dict(orient = 'index')

In [ ]:
def transform_dataset(data_df:pd.DataFrame, remain = []):
    new_match_vector = data_df['Id'] != data_df['Id'].shift(1)
    # трансформируем минуты
    data_df['min_norm'] = data_df['Minute'].astype(np.float32) / 50
    print('1. Минуты посчитаны...')
    # трансформируем голы
    data_df[data_df['Score1'].isna() & new_match_vector] = 0
    data_df['Score1_norm'] = data_df['Score1'].fillna(method = 'ffill').astype(np.float32) / 4
    data_df.loc[data_df['Score1'] > 3, ['Score1_norm']] = 1.0
    data_df[data_df['Score2'].isna() & new_match_vector] = 0
    data_df['Score2_norm'] = data_df['Score2'].fillna(method = 'ffill').astype(np.float32) / 4
    data_df.loc[data_df['Score2'] > 3, ['Score2_norm']] = 1.0

    data_df['Score_diff'] = data_df['Score1'].astype(np.int16) - data_df['Score2'].astype(np.int16)
    data_df.loc[data_df['Score_diff'] < -4, ['Score_diff']] = -4
    data_df.loc[data_df['Score_diff'] > 4, ['Score_diff']] = 4
    data_df[[f'Score_cat_{n}' for n in range(1, 10)]] = pd.get_dummies(data_df['Score_diff']).values
    data_df['Score_diff'] = data_df['Score_diff'].astype(np.float32) / np.float32(4.0)
    if 'Score1' not in remain:
        data_df = data_df.drop(['Score1', 'Score2'], axis = 1)
    print('2. Голы посчитаны...')
    #трансформируем атаки
    data_df['A1_scaled'] = data_df['A1'].astype(np.float32) / 75
    data_df.loc[data_df['A1'] >= 60, ['A1_scaled']] = (60 + (data_df['A1'] - 60) / 4) / 75
    data_df['A2_scaled'] = data_df['A2'].astype(np.float32) / 75
    data_df.loc[data_df['A2'] >= 60, ['A2_scaled']] = (60 + (data_df['A2'] - 60) / 4) / 75
    # атаки в минуту
    data_df['A1perMIN'] = data_df['A1'].astype(np.float32) / data_df['Minute'].astype(np.float32)
    data_df.loc[data_df['A1perMIN'] > 4, ['A1perMIN']] = np.float32(4.0)
    data_df['A2perMIN'] = data_df['A2'].astype(np.float32) / data_df['Minute'].astype(np.float32)
    data_df.loc[data_df['A2perMIN'] > 4, ['A2perMIN']] = np.float32(4.0)
    # динамика атак
    new_match_vector5 = data_df['Id'] != data_df['Id'].shift(5)
    data_df['A1relativ'] = data_df['A1'].astype(np.float32) - data_df['A1'].shift(5).astype(np.float32)
    data_df.loc[new_match_vector5, ['A1relativ']] = np.float32(0.0)
    data_df['A1relativ'] = data_df['A1relativ'].fillna(0)
    data_df.loc[data_df['A1relativ'] > 15, ['A1relativ']] = np.float32(15.)
    data_df['A2relativ'] = data_df['A2'].astype(np.float32) - data_df['A2'].shift(5).astype(np.float32)
    data_df.loc[new_match_vector5, ['A2relativ']] =  np.float32(0.0)
    data_df['A2relativ'] = data_df['A2relativ'].fillna(0)
    data_df.loc[data_df['A2relativ'] > 15, ['A2relativ']] = np.float32(15.)
    if 'A1' not in remain:
        data_df = data_df.drop(['A1', 'A2'], axis = 1)
    print('3. Атаки посчитаны...')
    # трансформируем опасные атаки
    data_df['DA1_scaled'] = data_df['DA1'].astype(np.float32) / 50
    data_df.loc[data_df['DA1'] >= 40, ['DA1_scaled']] = (80 + (data_df['DA1'] - 40) / 3) / 100
    data_df['DA2_scaled'] = data_df['DA2'].astype(np.float32) / 50
    data_df.loc[data_df['DA2'] >= 40, ['DA2_scaled']] = (80 + (data_df['DA2'] - 40) / 3) / 100
    # опасные атаки в минуту
    data_df['DA1perMIN'] = data_df['DA1'].astype(np.float32) / data_df['Minute'].astype(np.float32)
    data_df.loc[data_df['DA1perMIN'] > 3, ['DA1perMIN']] = np.float32(3.0)
    data_df['DA2perMIN'] = data_df['DA2'].astype(np.float32) / data_df['Minute'].astype(np.float32)
    data_df.loc[data_df['DA2perMIN'] > 3, ['DA2perMIN']] = np.float32(3.0)
    # динамика опасных атак
    data_df['DA1relativ'] = data_df['DA1'].astype(np.float32) - data_df['DA1'].shift(5).astype(np.float32)
    data_df.loc[new_match_vector5, ['DA1relativ']] = np.float32(0.0)
    data_df['DA1relativ'] = data_df['DA1relativ'].fillna(0)
    data_df.loc[data_df['DA1relativ'] > 10, ['DA1relativ']] = np.float32(10.)
    data_df['DA2relativ'] = data_df['DA2'].astype(np.float32) - data_df['DA2'].shift(5).astype(np.float32)
    data_df.loc[new_match_vector5, ['DA2relativ']] = np.float32(0.0)
    data_df['DA2relativ'] = data_df['DA2relativ'].fillna(0)
    data_df.loc[data_df['DA2relativ'] > 10, ['DA2relativ']] = np.float32(10.)
    if 'DA1' not in remain:
        data_df = data_df.drop(['DA1', 'DA2'], axis = 1)
    if 'Minute' not in remain:
        data_df = data_df.drop(['Minute'], axis = 1)
    print('4. Опасные атаки посчитаны...')
    # трансформируем владение мячом
    data_df[data_df['Pos1'].isna() & new_match_vector] = 0
    data_df['Pos1_cleaned'] = data_df['Pos1'].fillna(method = 'ffill').astype(np.float32) /  np.float32(100.0)
    data_df.loc[data_df['Pos1_cleaned'] < 0.2, ['Pos1_cleaned']] = np.float32(0.2)
    data_df.loc[data_df['Pos1_cleaned'] > 0.8, ['Pos1_cleaned']] = np.float32(0.8)
    data_df[data_df['Pos2'].isna() & new_match_vector] = 0
    data_df['Pos2_cleaned'] = data_df['Pos2'].fillna(method = 'ffill').astype(np.float32) /  np.float32(100.0)
    data_df.loc[data_df['Pos2_cleaned'] < 0.2, ['Pos2_cleaned']] = np.float32(0.2)
    data_df.loc[data_df['Pos2_cleaned'] > 0.8, ['Pos2_cleaned']] = np.float32(0.8)
    if 'Pos1' not in remain:
        data_df = data_df.drop(['Pos1', 'Pos2'], axis = 1)
    print('5. Владение мячом посчитпно...')
    # трансформируем удары
    data_df[data_df['Off1'].isna() & new_match_vector] = 0
    data_df['Off1_norm'] = data_df['Off1'].fillna(method = 'ffill').astype(np.float32) / np.float32(10.0)
    data_df.loc[data_df['Off1_norm'] > 1.0, ['Off1_norm']] = np.float32(1.0)
    data_df[data_df['Off2'].isna() & new_match_vector] = 0
    data_df['Off2_norm'] = data_df['Off2'].fillna(method = 'ffill').astype(np.float32) / np.float32(10.0)
    data_df.loc[data_df['Off2_norm'] > 1.0, ['Off2_norm']] = np.float32(1.0)
    if 'Off1' not in remain:
        data_df = data_df.drop(['Off1', 'Off2'], axis = 1)
    print('6. Удары посчитаны...')
    # трансформируем удары в створ
    data_df[data_df['On1'].isna() & new_match_vector] = 0
    data_df['On1_norm'] = data_df['On1'].fillna(method = 'ffill').astype(np.float32) / np.float32(5.0)
    data_df.loc[data_df['On1_norm'] > 1.0, ['On1_norm']] = np.float32(1.0)
    data_df[data_df['On2'].isna() & new_match_vector] = 0
    data_df['On2_norm'] = data_df['On2'].fillna(method = 'ffill').astype(np.float32) / np.float32(5.0)
    data_df.loc[data_df['On2_norm'] > 1.0, ['On2_norm']] = np.float32(1.0)
    if 'On1' not in remain:
        data_df = data_df.drop(['On1', 'On2'], axis = 1)
    print('7. Удары в створ посчитаны...')
    # трансформируем желтые карточки
    data_df[data_df['YC1'].isna() & new_match_vector] = 0
    data_df['YC1_transformed'] = data_df['YC1'].fillna(0).astype(np.float32) / np.float32(2.0)
    data_df.loc[data_df['YC1_transformed'] > 1.0, ['YC1_transformed']] = np.float32(1.0)
    data_df[data_df['YC2'].isna() & new_match_vector] = 0
    data_df['YC2_transformed'] = data_df['YC2'].fillna(0).astype(np.float32) / np.float32(2.0)
    data_df.loc[data_df['YC2_transformed'] > 1.0, ['YC2_transformed']] = np.float32(1.0)
    if 'YC1' not in remain:
        data_df = data_df.drop(['YC1', 'YC2'], axis = 1)
    print('8. Жёлтые карточки посчитаны...')
    # трансформируем красные карточки
    data_df[data_df['RC1'].isna() & new_match_vector] = 0
    data_df['RC1_transformed'] = data_df['RC1'].fillna(0).astype(np.int8)
    data_df.loc[data_df['RC1_transformed'] > 1, ['RC1_transformed']] = np.int8(1)
    data_df[data_df['RC2'].isna() & new_match_vector] = 0
    data_df['RC2_transformed'] = data_df['RC2'].fillna(0).astype(np.int8)
    data_df.loc[data_df['RC2_transformed'] > 1, ['RC2_transformed']] = np.int8(1)
    if 'RC1' not in remain:
        data_df = data_df.drop(['RC1', 'RC2'], axis = 1)
    print('9. Красные карточки посчитаны...')
    # трансформируем замены
    data_df[data_df['Sub1'].isna() & new_match_vector] = 0
    data_df['Sub1_transformed'] = data_df['Sub1'].fillna(0).astype(np.int8)
    data_df.loc[data_df['Sub1_transformed'] > 1, ['Sub1_transformed']] = np.int8(1)
    data_df[data_df['Sub2'].isna() & new_match_vector] = 0
    data_df['Sub2_transformed'] = data_df['Sub2'].fillna(0).astype(np.int8)
    data_df.loc[data_df['Sub2_transformed'] > 1, ['Sub2_transformed']] = np.int8(1)
    if 'Sub1' not in remain:
        data_df = data_df.drop(['Sub1', 'Sub2'], axis = 1)
    print('10. Замены посчитаны...')
    # трансформируем угловык
    data_df[data_df['Cor1'].isna() & new_match_vector] = 0
    data_df['Cor1_transformed'] = data_df['Cor1'].fillna(0).astype(np.float32) / np.float32(6.0)
    data_df.loc[data_df['Cor1_transformed'] > 1.0, ['Cor1_transformed']] = np.float32(1.0)
    data_df[data_df['Cor2'].isna() & new_match_vector] = 0
    data_df['Cor2_transformed'] = data_df['Cor2'].fillna(0).astype(np.float32) / np.float32(6.0)
    data_df.loc[data_df['Cor2_transformed'] > 1.0, ['Cor2_transformed']] = np.float32(1.0)
    if 'Cor1' not in remain:
        data_df = data_df.drop(['Cor1', 'Cor2'], axis = 1)
    print('11. Угловые посчитаны...')
    # трансформируем линию
    data_df['P1_transformed'] = np.log(data_df['P1'], dtype = np.float32) / 2
    data_df['P2_transformed'] = np.log(data_df['P2'], dtype = np.float32) / 2
    if 'P1' not in remain:
        data_df = data_df.drop(['P1', 'P2'], axis = 1)
    print('12. Линии посчитаны...')
    if 'Pen1' not in remain:
        data_df = data_df.drop(['Pen1', 'Pen2'], axis = 1)
    if 'Active' not in remain:
        data_df = data_df.drop(['Active'], axis = 1)
    return data_df

#### Predefine data

In [ ]:
import datetime
data_types_dict = {
    'Id':np.int32,
    'StatTime':str,
    'Minute':np.int8,
    'Active': np.int8, 'Score1':np.int8, 'Score2':np.int8,
    'A1':np.int16, 'A2':np.int16, 'DA1':np.int16, 'DA2':np.int16, 'Pos1':np.float32, 'Pos2':np.float32,
    'Off1':np.int8, 'Off2':np.int8, 'On1':np.int8, 'On2':np.int8, 'YC1':np.int8, 'YC2':np.int8,
    'RC1':np.int8, 'RC2':np.int8, 'Sub1':np.int8, 'Sub2':np.int8, 'Pen1':np.int8, 'Pen2':np.int8,
    'Cor1':np.int8, 'Cor2':np.int8, 'Period':np.int8,
    'D':np.datetime64,
    'I':np.int32, 'Active.1':np.int8,
    'Time':np.datetime64,
    'Minute.1':np.int8,
    'RawTime':np.datetime64,
    'Score1.1':np.int8, 'Score2.1':np.int8, 'Period.1':np.int8,
    'W1':np.float16, 'WX':np.float16, 'W2':np.float16, 'X1':np.float16, 'X2':np.float16, 'W12':np.float16, 'TotalValue':np.float16,
    'Over':np.float16, 'Under':np.float16, 'Hand1Value':np.float16, 'H1':np.float16, 'H2':np.float16
}

In [ ]:
k_cols = [
    'W1', 'WX', 'W2', 'X1', 'X2', 'W12', 'TotalValue' ,'Over',
    'Under', 'Hand1Value', 'H1', 'H2'
]

In [ ]:
drop_cols = [
    #'StatTime',
    'Comment', 'D', 'I', 'Time', 'Minute.1', 'RawTime',
    'Score1.1', 'Score2.1', 'Period.1', 'Period', 'Periods', 'Serve'
]

#### Load Parameters

In [ ]:
info_cols = ['Id', 'Result1', 'Result2']
prem_cols = ['Id', 'P1', 'PX', 'P2']
res_cols = [cols for cols in data_types_dict if cols not in drop_cols]

info_folder = './Index/'
prem_folder = './Prem/'
data_folder = './Result2/'

In [ ]:
### собрать датасет с даты:
year_start = '2023'
month_start = '01'
day_start = '01'
### до даты
year_end = ''
month_end = ''
day_end = ''
date_start = year_start + month_start + day_start
date_end = year_end + month_end + day_end

#### Create DataFrame

In [ ]:
info_dict = create_id_dict(date_start, info_folder, info_cols)
prem_dict = create_id_dict(date_start, prem_folder, prem_cols)
if len(prem_dict) != len(info_dict):
    print('Нет в info: ', set(prem_dict) - set(info_dict))
    print('Нет в prem: ', set(info_dict) - set(prem_dict))

In [ ]:
#files_list =['./Result2/' + str(id) + '.csv'
#    for id in set(info_dict)
#    if os.path.exists('./Result2/' + str(id) + '.csv')]

files_list = []
for folder in glob('./Result2/*'):
    files_list += glob(folder + '/*')

In [ ]:
time_point1 = time.time()
data_df = pd.concat(map(functools.partial(
    pd.read_csv,
    sep = ';',
    #parse_dates = ['StatTime'],
    usecols = res_cols
                                    ), files_list), ignore_index=True)
time_point2 = time.time()
print(f'create dataframe: {time_point2 - time_point1} sec.')
#---------------
process = psutil.Process(os.getpid())
print(round(process.memory_info().rss / 1024 ** 3, 2), 'GiB')  # in bytes
#---------------

data_df[k_cols] = data_df[k_cols].fillna(0).values # Заполняем пропущенные лайв кэфы 1
new_match_vector = data_df['Id'] != data_df['Id'].shift(1) # Отмечаем переходы между матчами в колонуах
data_cols = list(set(res_cols) - set(k_cols)) # Отбирвем колонки для заполнения пропусков метдом ffill
for col in data_cols:
    data_df.loc[data_df[col].isna() & new_match_vector, col] = 0 # Сами переходы с пропусками заполняем 0
data_df = data_df.fillna(method = 'ffill')
################ Записываем файл с временными метками и сбрасываем время матчей
#(data_df['Id'].astype(str) + ':' + data_df['StatTime'].astype(str).str.split(
#        ' ', expand=True)[0]
#        ).drop_duplicates().str.split(':', expand = True).rename(
#                                                columns = {0:'Id', 1:'StatTime'}
#                                                            ).to_csv('./time.csv', index = False)
#data_df = data_df.drop(['StatTime'], axis = 1)
############################################### Присоединяем результаты и кэфы
data_df[['Result1', 'Result2']] = [
    [info_dict[id]['Result1'], info_dict[id]['Result2']]
    for id in tqdm(data_df['Id'].values, total = len(data_df))
    ]
data_df[['P1', 'PX', 'P2']] = [
    [prem_dict[id]['P1'], prem_dict[id]['PX'], prem_dict[id]['P2']]
    for id in tqdm(data_df['Id'].values, total = len(data_df))
    ]

print('\n')
#---------------
process = psutil.Process(os.getpid())
print(round(process.memory_info().rss / 1024 ** 3, 2), 'GiB')  # in bytes
#---------------

create dataframe: 195.30857491493225 sec.
2.02 GiB

100%|██████████| 1827026/1827026 [00:03<00:00, 586524.12it/s]
100%|██████████| 1827026/1827026 [00:03<00:00, 518313.16it/s]

2.01 GiB

In [ ]:
data_df.loc[new_match_vector & (data_df['P1'].isna()), ['P1']] = data_df['W1'][new_match_vector & (data_df['P1'].isna())]
data_df.loc[new_match_vector & (data_df['P2'].isna()), ['P2']] = data_df['W2'][new_match_vector & (data_df['P2'].isna())]
data_df.loc[new_match_vector & (data_df['PX'].isna()), ['PX']] = data_df['WX'][new_match_vector & (data_df['PX'].isna())]
data_df['P1'] = data_df['P1'].fillna(method = 'ffill').values
data_df['PX'] = data_df['PX'].fillna(method = 'ffill').values
data_df['P2'] = data_df['P2'].fillna(method = 'ffill').values

In [ ]:
data_df = transform_dataset(data_df, #)
    remain = ['StatTime', 'Minute', 'Score1', 'Score2', 'Result1', 'Result2', 'P1', 'PX', 'P2'])

1. Минуты посчитаны...
2. Голы посчитаны...
3. Атаки посчитаны...
4. Опасные атаки посчитаны...
5. Владение мячом посчитпно...
6. Удары посчитаны...
7. Удары в створ посчитаны...
8. Жёлтые карточки посчитаны...
9. Красные карточки посчитаны...
10. Замены посчитаны...
11. Угловые посчитаны...
12. Линии посчитаны...

/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [ ]:
# Из-за того что некоторые кэфы были пропущены, и заменены на нули в препроцессинге на их месте появились inf, удаляем
print('P1 -inf & P2 -inf: ', (data_df['P1_transformed'] == -np.inf).sum(), (data_df['P2_transformed'] == -np.inf).sum())

#data_df = data_df[~(data_df['P1_transformed'] == -np.inf)]
#data_df = data_df[~(data_df['P2_transformed'] == -np.inf)]

P1 -inf & P2 -inf:  1487 1487

In [ ]:
#Там где забито болше внутри матча чем в итоге, пока не удаляем
print('Score-Result error 1&2: ', (~(data_df['Result1'] - data_df['Score1']) >= 0).sum(), (~(data_df['Result1'] - data_df['Score1']) >= 0).sum())
#data_df = data_df.loc[(data_df['Result1'] - data_df['Score1']) >= 0]
#data_df = data_df.loc[(data_df['Result2'] - data_df['Score2']) >= 0]


#---------------
process = psutil.Process(os.getpid())
print('mem usage: ', round(process.memory_info().rss / 1024 ** 3, 2), 'GiB')  # in bytes
#---------------

Score-Result error 1&2:  23 23
mem usage:  2.17 GiB

In [ ]:
time_point1 = time.time()
data_df['StatTime'] = pd.to_datetime(data_df['StatTime'], dayfirst=True)
data_df = data_df.sort_values(by = ['StatTime'])
print(f'sort by date: {time_point2 - time_point1} sec.')
#---------------
process = psutil.Process(os.getpid())
print('mem usage: ', round(process.memory_info().rss / 1024 ** 3, 2), 'GiB')  # in bytes
#---------------

sort by date: -22.114991664886475 sec.
mem usage:  2.16 GiB

In [ ]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1827026 entries, 474727 to 1433479
Data columns (total 64 columns):
 #   Column            Dtype
---  ------            -----
 0   Id                int64
 1   StatTime          datetime64[ns]
 2   Minute            int64
 3   Score1            int64
 4   Score2            int64
 5   Active.1          int64
 6   W1                float64
 7   WX                float64
 8   W2                float64
 9   X1                float64
 10  X2                float64
 11  W12               float64
 12  TotalValue        float64
 13  Over              float64
 14  Under             float64
 15  Hand1Value        float64
 16  H1                float64
 17  H2                float64
 18  Result1           int64
 19  Result2           int64
 20  P1                float64
 21  PX                float64
 22  P2                float64
 23  min_norm          float32
 24  Score1_norm       float32
 25  Score2_norm       float32
 26  Score_diff        float32
 27  Score_cat_1       uint8
 28  Score_cat_2       uint8
 29  Score_cat_3       uint8
 30  Score_cat_4       uint8
 31  Score_cat_5       uint8
 32  Score_cat_6       uint8
 33  Score_cat_7       uint8
 34  Score_cat_8       uint8
 35  Score_cat_9       uint8
 36  A1_scaled         float32
 37  A2_scaled         float32
 38  A1perMIN          float32
 39  A2perMIN          float32
 40  A1relativ         float32
 41  A2relativ         float32
 42  DA1_scaled        float32
 43  DA2_scaled        float32
 44  DA1perMIN         float32
 45  DA2perMIN         float32
 46  DA1relativ        float32
 47  DA2relativ        float32
 48  Pos1_cleaned      float32
 49  Pos2_cleaned      float32
 50  Off1_norm         float32
 51  Off2_norm         float32
 52  On1_norm          float32
 53  On2_norm          float32
 54  YC1_transformed   float32
 55  YC2_transformed   float32
 56  RC1_transformed   int8
 57  RC2_transformed   int8
 58  Sub1_transformed  int8
 59  Sub2_transformed  int8
 60  Cor1_transformed  float32
 61  Cor2_transformed  float32
 62  P1_transformed    float32
 63  P2_transformed    float32
dtypes: datetime64[ns](1), float32(28), float64(15), int64(7), int8(4), uint8(9)
memory usage: 552.3 MB

In [ ]:
data_df.describe()

,Id,Minute,Score1,Score2,Active.1,W1,WX,W2,X1,X2,W12,TotalValue,Over,Under,Hand1Value,H1,H2,Result1,Result2,P1,PX,P2,min_norm,Score1_norm,Score2_norm,Score_diff,Score_cat_1,Score_cat_2,Score_cat_3,Score_cat_4,Score_cat_5,Score_cat_6,Score_cat_7,Score_cat_8,Score_cat_9,A1_scaled,A2_scaled,A1perMIN,A2perMIN,A1relativ,A2relativ,DA1_scaled,DA2_scaled,DA1perMIN,DA2perMIN,DA1relativ,DA2relativ,Pos1_cleaned,Pos2_cleaned,Off1_norm,Off2_norm,On1_norm,On2_norm,YC1_transformed,YC2_transformed,RC1_transformed,RC2_transformed,Sub1_transformed,Sub2_transformed,Cor1_transformed,Cor2_transformed,P1_transformed,P2_transformed
count,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06,1.827026e+06
mean,6.082924e+06,2.294666e+01,3.080389e-01,2.443277e-01,8.773542e-01,3.053094e+00,3.690139e+00,4.655567e+00,1.342247e+00,1.799202e+00,1.055450e+00,2.426204e+00,1.713796e+00,1.692445e+00,-2.627609e-01,1.742895e+00,1.749889e+00,1.570168e+00,1.256676e+00,2.810972e+00,4.070412e+00,4.132569e+00,4.589331e-01,7.688218e-02,6.102664e-02,1.586691e-02,7.695566e-04,3.569736e-03,2.061547e-02,1.247273e-01,6.547083e-01,1.571384e-01,3.077570e-02,6.258805e-03,1.436761e-03,3.255832e-01,3.097913e-01,1.095956e+00,1.042964e+00,4.900517e+00,4.660498e+00,2.678083e-01,2.404855e-01,5.799673e-01,5.201102e-01,2.799123e+00,2.509011e+00,4.234815e-01,4.013396e-01,1.442812e-01,1.237681e-01,2.001240e-01,1.688512e-01,1.102658e-01,1.212815e-01,6.084752e-03,6.889338e-03,2.713207e-02,2.836084e-02,1.908505e-01,1.621464e-01,-inf,-inf
std,4.531704e+05,1.296025e+01,6.040536e-01,5.340757e-01,3.280302e-01,4.210603e+00,2.597617e+00,5.946112e+00,1.304684e+00,1.704582e+00,4.740553e-01,1.277265e+00,6.132216e-01,6.018021e-01,1.211181e+00,6.973025e-01,6.999680e-01,1.429285e+00,1.270992e+00,3.094289e+00,1.923771e+00,4.160699e+00,2.592049e-01,1.500676e-01,1.330576e-01,1.948013e-01,2.773022e-02,5.964055e-02,1.420932e-01,3.304095e-01,4.754634e-01,3.639313e-01,1.727095e-01,7.886467e-02,3.787740e-02,2.059745e-01,1.976283e-01,4.328578e-01,4.216070e-01,3.116739e+00,3.008889e+00,1.987007e-01,1.845585e-01,3.209292e-01,3.067699e-01,2.273073e+00,2.151310e+00,1.777128e-01,1.664423e-01,1.640837e-01,1.476538e-01,2.435194e-01,2.228292e-01,2.422440e-01,2.530926e-01,7.776716e-02,8.271565e-02,1.624683e-01,1.660016e-01,2.258420e-01,2.070269e-01,NaN,NaN
min,4.975839e+06,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e-02,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e-01,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-inf,-inf
25%,5.736383e+06,1.200000e+01,0.000000e+00,0.000000e+00,1.000000e+00,1.290000e+00,2.820000e+00,1.570000e+00,1.023000e+00,1.109000e+00,1.096000e+00,1.500000e+00,1.740000e+00,1.720000e+00,-1.000000e+00,1.590000e+00,1.600000e+00,1.000000e+00,0.000000e+00,1.650000e+00,3.250000e+00,2.200000e+00,2.400000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.600000e-01,1.466667e-01,8.260869e-01,7.777778e-01,3.000000e+00,3.000000e+00,1.000000e-01,1.000000e-01,3.666667e-01,3.181818e-01,1.000000e+00,1.000000e+00,2.000000e-01,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.503876e-01,3.942287e-01
50%,6.195149e+06,2.300000e+01,0.000000e+00,0.000000e+00,1.000000e+00,2.030000e+00,3.380000e+00,2.900000e+00,1.230000e+00,1.470000e+00,1.240000e+00,2.500000e+00,1.880000e+00,1.850000e+00,0.000000e+00,1.830000e+00,1.840000e+00,1.000000e+00,1.000000e+00,2.150000e+00,3.600000e+00,3.100000e+00,4.600000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.066667e-01,2.933333e-01,1.037037e+00,1.000000e+00,5.000000e+00,5.000000e+00,2.400000e-01,2.000000e-01,5.405405e-01,4.883721e-01,3.000000e+00,2.000000e+00,4.500000e-01,4.200000e-01,1.000000e-01,1.000000e-01,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.666667e-01,1.666667e-01,3.827339e-01,5.657010e-01
75%,6.429106e+06,3.400000e+01,0.000000e+00,0.000000e+00,1.000000e+00,3.125000e+00,4.250000e+00,5.150000e+00,1.540000e+00,2.080000e+00,1.320000e+00,3.000000e+00,2.030000e+00,2.000000e+00,0.000000e+00,2.100000e+00,2.120000e+00,2.000000e+00,2.000000e+00,2.875000e+00,4.200000e+00,4.500000e+00,6.800000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.666667e-01,4.400000e-01,1.312500e+00,1.250000e+00,7.000000e+00,6.000000e+00,3.800000e-01,3.400000e-01,7.500000e-01,6.842105e-01,4.000000e+00,4.000000e+00,5.600000e-01,5.300000e-01,2.000000e-01,2.000000e-01,4.000000e-01,2.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.333333e-01,3.333333e-01,5.280263e-01,7.520387e-01
max,6.731425e+06,4.500000e+01,8.000000e+00,7.000000e+00,1.000000e+00,6.900000e+01,2.700000e+01,1.510000e+02,1.850000e+01,1.900000e+01,2.130000e+00,1.350000e+01,1.050000e+01,3.100000e+00,1.050000e+01,6.100000e+00,1.050000e+01,1.400000e+01,1.400000e+01,8.100000e+01,5.100000e+01,8.100000e+01,9.000000e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.086667e+00,1.013333e+00,4.000000e+00,4.000000e+00,1.500000e+01,1.500000e+01,1.053333e+00,9.566666e-01,3.000000e+00,3.000000e+00,1.000000e+01,1.000000e+01,8.000000e-01,8.000000e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.197225e+00,2.197225e+00

In [ ]:
selected_cols = [item for item in data_df.columns[23:] if item not in remove_list]
#selected_cols = [item for item in data_df.columns[23:]]

In [ ]:
X = data_df[selected_cols].values
y_regression1 = ((data_df['Result1'] - data_df['Score1']) / 21).values
y_regression2 = ((data_df['Result2'] - data_df['Score2']) / 21).values
line = data_df[['Hand1Value', 'Over', 'Under']].values
active_rows = np.ones(line.shape[0], dtype = bool)
#active = data_df['Active.1'].values == 1
#active_rows = (active & (line.sum(axis = 1) > 3))
scores1 = data_df['Score1'].values
scores2 = data_df['Score2'].values

#### Download models and restore predicts

In [ ]:
!mkdir -p ./models

In [ ]:
# Модель для 1-ой команды
model_num = selected_model1_version # Указываем номер модели
neptune_model = 'FOOT-LIVEBST1'
neptune_model_version = neptune_model + f'-{model_num}'
model_version_params = dict(
    project = 'scomesse/football',
    model = neptune_model,
    api_token = api_key,
    with_id = neptune_model_version
)
if folded:
    model_version = neptune.init_model_version(**model_version_params)
    description_dict = model_version[f'model_reg1_description'].fetch()
    for kfold_num in range(description_dict['kfold_splits']):
        model_version[f'/models/model_reg1_{kfold_num}'].download(f'./models/booster_reg1_{kfold_num}.model')
    model_version.stop()
else:
    PATH_TO_MODEL = './booster.model'
    model_version = neptune.init_model_version(**model_version_params)
    model_version['model'].download(PATH_TO_MODEL)
    params1 = model_version['team_parameters'].fetch()
    model_version.stop()

https://app.neptune.ai/scomesse/football/m/FOOT-LIVEBST1/v/FOOT-LIVEBST1-6
Shutting down background jobs, please wait a moment...
Done!
All 0 operations synced, thanks for waiting!
Explore the metadata in the Neptune app:
https://app.neptune.ai/scomesse/football/m/FOOT-LIVEBST1/v/FOOT-LIVEBST1-6/metadata

In [ ]:
model_num_2 = selected_model2_version # Указываем номер модели
neptune_model_2 = 'FOOT-LIVEBST2'
neptune_model_version_2 = neptune_model_2 + f'-{model_num_2}'
model_version_params2 = dict(
    project = 'scomesse/football',
    model = neptune_model_2,
    api_token = api_key,
    with_id = neptune_model_version_2
)
if folded:
    model_version2 = neptune.init_model_version(**model_version_params2)
    description_dict2 = model_version2[f'model_reg2_description'].fetch()
    for kfold_num in range(description_dict2['kfold_splits']):
        model_version2[f'/models/model_reg2_{kfold_num}'].download(f'./models/booster_reg2_{kfold_num}.model')
    model_version2.stop()
else:
    PATH_TO_MODEL = './booster2.model'
    model_version2 = neptune.init_model_version(**model_version_params2)
    model_version2['model'].download(PATH_TO_MODEL)
    params2 = model_version2['team_parameters'].fetch()
    model_version2.stop()

https://app.neptune.ai/scomesse/football/m/FOOT-LIVEBST2/v/FOOT-LIVEBST2-5
Shutting down background jobs, please wait a moment...
Done!
All 0 operations synced, thanks for waiting!
Explore the metadata in the Neptune app:
https://app.neptune.ai/scomesse/football/m/FOOT-LIVEBST2/v/FOOT-LIVEBST2-5/metadata

In [ ]:
if folded:
    preds_dict = {}
    preds_dict = {1:sum(
        CatBoost().load_model(
            f'./models/booster_reg1_{kfold_num}.model'
                            ).predict(X) * 21.0
        for kfold_num in range(description_dict['kfold_splits'])
                            ) / description_dict['kfold_splits']}

    preds_dict.update({2:sum(
        CatBoost().load_model(
            f'./models/booster_reg2_{kfold_num}.model'
                            ).predict(X) * 21.0
        for kfold_num in range(description_dict['kfold_splits'])
                            ) / description_dict['kfold_splits']})
else:
    preds_dict = {}
    booster = CatBoost()
    booster.load_model('./booster.model')
    preds_dict = {1:booster.predict(X) * 21.0}

    booster2 = CatBoost()
    booster2.load_model('./booster2.model')
    preds_dict.update({2:booster2.predict(X) * 21.0})

#---------------
process = psutil.Process(os.getpid())
print('Mem usage: ', round(process.memory_info().rss / 1024 ** 3, 2), 'GiB')  # in bytes
#---------------

Mem usage:  2.52 GiB

#### Calculate probabilities

In [ ]:
# Считаем Пуассона
poisson_dict = {}
poisson_dict[1] = {}
poisson_dict[2] = {}
for goal in range(7):
    poisson_dict[1][goal] = poisson.pmf(goal, preds_dict[1][active_rows])
    poisson_dict[2][goal] = poisson.pmf(goal, preds_dict[2][active_rows])

In [ ]:
# Считаем вероятности разности забитых мячей
total_matrix = np.zeros((np.sum(active_rows), 13))
for goal1 in range(7):
    for goal2 in range(7):
        total_matrix[:, goal1 - goal2 + 6] = total_matrix[:, goal1 - goal2 + 6] + \
        poisson_dict[1][goal1] * poisson_dict[2][goal2]

In [ ]:
# Считаем вероятности победы дома over = home_win
over_matrix = np.hstack((
    np.zeros(np.sum(active_rows)).reshape(-1,1),
    np.cumsum(np.flip(total_matrix, axis = 1), axis = 1)
                                ))#[:, 1:]

In [ ]:
# Считаем вероятности победы гостей under = away_win
under_matrix = np.hstack((
        np.flip(np.cumsum(total_matrix, axis = 1), axis = 1),
        np.zeros(np.sum(active_rows)).reshape(-1,1)
                                            ))#[:, :-1]

In [ ]:
# Считаем текущей стэйт суммы забитых мячей
total_state = line[:,0][active_rows] + scores1[active_rows] - scores2[active_rows] + 6
total_state[total_state < 0] = 0
total_state[total_state > 12] = 12

In [ ]:
prob = np.hstack((
    np.take_along_axis(over_matrix, (total_state.reshape(-1, 1) + 0.5).reshape(-1, 1).astype(np.int8), axis = 1),
    np.take_along_axis(under_matrix, (total_state.reshape(-1, 1) + 1).astype(np.int8), axis = 1),
))

#### Report

In [ ]:
data_df[['H_prob', 'A_prob']] = prob

In [ ]:
data_df[['H_prob_adj', 'A_prob_adj']] = prob / np.sum(prob, axis = 1).reshape(-1,1)

In [ ]:
report_cols = ['Id', 'StatTime', 'Minute', 'Active.1', 'Score1', 'Score2',
               'Result1', 'Result2', 'Hand1Value', 'H1', 'H2',
               'H_prob', 'A_prob', 'H_prob_adj', 'A_prob_adj']

In [ ]:
data_df[report_cols].tail(100)

,Id,StatTime,Minute,Active.1,Score1,Score2,Result1,Result2,Hand1Value,H1,H2,H_prob,A_prob,H_prob_adj,A_prob_adj
1421504,6729033,2023-06-03 23:57:14,27,1,0,0,2,0,-1.0,1.730,2.070,0.293098,0.442590,0.398400,0.601600
1434668,6620482,2023-06-03 23:57:15,25,1,0,0,0,1,-1.0,1.890,1.880,0.464600,0.278539,0.625186,0.374814
1438808,6702470,2023-06-03 23:57:31,22,1,0,0,1,1,0.0,1.960,1.860,0.311244,0.359489,0.464035,0.535965
1421505,6729033,2023-06-03 23:57:59,28,1,0,0,2,0,-1.0,1.750,2.040,0.292105,0.441402,0.398231,0.601769
1433437,6063258,2023-06-03 23:58:04,3,0,0,0,0,0,0.0,0.000,0.000,0.485268,0.242748,0.666562,0.333438
1438809,6702470,2023-06-03 23:58:29,23,1,0,0,1,1,0.0,1.960,1.860,0.307803,0.360817,0.460356,0.539644
1433438,6063258,2023-06-03 23:59:00,4,0,0,0,0,0,0.0,0.000,0.000,0.479069,0.245771,0.660931,0.339069
1421506,6729033,2023-06-03 23:59:09,29,1,0,0,2,0,-1.0,1.760,2.030,0.288910,0.443176,0.394640,0.605360
1434669,6620482,2023-06-03 23:59:24,27,1,0,1,0,1,0.0,2.120,1.700,0.449798,0.294528,0.604303,0.395697
1438810,6702470,2023-06-03 23:59:32,24,1,0,0,1,1,0.0,1.960,1.860,0.304173,0.363052,0.455878,0.544122
1433439,6063258,2023-06-03 23:59:42,5,0,0,0,0,0,0.0,0.000,0.000,0.481071,0.241696,0.665596,0.334404
1434670,6620482,2023-06-03 23:59:45,28,1,0,1,0,1,0.0,2.120,1.700,0.437834,0.304451,0.589846,0.410154
1421507,6729033,2023-06-04 00:00:01,30,1,0,0,2,0,-1.0,2.120,1.700,0.282440,0.448558,0.386376,0.613624
1438811,6702470,2023-06-04 00:00:02,25,1,0,0,1,1,0.0,1.960,1.860,0.305595,0.356877,0.461295,0.538705
1434671,6620482,2023-06-04 00:00:48,29,1,0,1,0,1,0.0,2.170,1.666,0.424023,0.318401,0.571133,0.428867
1438812,6702470,2023-06-04 00:00:57,26,1,0,0,1,1,0.0,1.960,1.860,0.302966,0.356588,0.459350,0.540650
1433440,6063258,2023-06-04 00:00:59,6,0,0,0,0,0,0.0,0.000,0.000,0.486635,0.234761,0.674574,0.325426
1421508,6729033,2023-06-04 00:01:03,31,1,0,0,2,0,-1.0,2.120,1.700,0.272427,0.458232,0.372851,0.627149
1433441,6063258,2023-06-04 00:01:40,7,0,0,0,0,0,0.0,0.000,0.000,0.479838,0.237854,0.668584,0.331416
1421509,6729033,2023-06-04 00:02:08,32,1,0,0,2,0,-1.0,2.150,1.680,0.267025,0.462868,0.365841,0.634159
1438813,6702470,2023-06-04 00:02:09,27,1,0,0,1,1,0.0,1.960,1.860,0.305877,0.349529,0.466698,0.533302
1434672,6620482,2023-06-04 00:02:15,30,1,0,1,0,1,1.0,1.430,2.760,0.676208,0.118057,0.851363,0.148637
1433442,6063258,2023-06-04 00:03:04,8,0,0,0,0,0,0.0,0.000,0.000,0.501707,0.218955,0.696176,0.303824
1421510,6729033,2023-06-04 00:03:14,33,1,0,0,2,0,-1.0,2.180,1.660,0.256016,0.475770,0.349850,0.650150
1421511,6729033,2023-06-04 00:03:31,34,1,0,0,2,0,-1.0,2.200,1.650,0.247559,0.483457,0.338651,0.661349
1433443,6063258,2023-06-04 00:04:01,9,0,0,0,0,0,0.0,0.000,0.000,0.500903,0.217856,0.696900,0.303100
1438814,6702470,2023-06-04 00:04:33,29,1,0,0,1,1,0.0,1.960,1.860,0.300057,0.347943,0.463051,0.536949
1433444,6063258,2023-06-04 00:04:53,10,0,0,0,0,0,0.0,0.000,0.000,0.513970,0.206601,0.713281,0.286719
1438815,6702470,2023-06-04 00:05:28,30,1,0,0,1,1,0.0,1.960,1.860,0.297650,0.343021,0.464592,0.535408
1438816,6702470,2023-06-04 00:06:00,31,1,0,0,1,1,0.0,1.550,2.480,0.463469,0.198171,0.700485,0.299515
1433445,6063258,2023-06-04 00:06:04,11,0,0,0,0,0,0.0,0.000,0.000,0.510511,0.207090,0.711414,0.288586
1434673,6620482,2023-06-04 00:06:10,34,1,0,1,0,1,0.0,2.760,1.430,0.392117,0.338895,0.536403,0.463597
1421512,6729033,2023-06-04 00:06:13,36,1,0,0,2,0,-1.0,2.430,1.540,0.234742,0.494127,0.322064,0.677936
1433446,6063258,2023-06-04 00:06:27,12,0,0,0,0,0,0.0,0.000,0.000,0.517492,0.199976,0.721276,0.278724
1434674,6620482,2023-06-04 00:06:40,35,1,0,1,0,1,0.0,2.880,1.400,0.403481,0.326268,0.552904,0.447096
1421513,6729033,2023-06-04 00:07:11,37,1,0,0,2,0,-1.0,2.450,1.530,0.241965,0.484689,0.332985,0.667015
1438817,6702470,2023-06-04 00:07:28,32,1,0,0,1,1,0.0,1.560,2.460,0.464631,0.193397,0.706096,0.293904
1433447,6063258,2023-06-04 00:08:03,13,0,0,0,0,0,0.0,0.000,0.000,0.511211,0.201112,0.717668,0.282332
1421514,6729033,2023-06-04 00:08:14,38,1,0,0,2,0,-1.0,2.480,1.520,0.235560,0.489281,0.324982,0.675018
1434675,6620482,2023-06-04 00:08:19,36,1,0,1,0,1,0.0,2.480,1.520,0.399600,0.327334,0.549706,0.450294
1438818,6702470,2023-06-04 00:08:32,33,1,0,0,1,1,0.0,1.560,2.460,0.465601,0.188414,0.711912,0.288088
1433448,6063258,2023-06-04 00:08:53,14,0,0,0,0,0,0.0,0.000,0.000,0.506806,0.201240,0.715781,0.284219
1421515,6729033,2023-06-04 00:09:03,39,1,0,0,2,0,-1.0,2.510,1.510,0.234101,0.487905,0.324236,0.675764
1434676,6620482,2023-06-04 00:09:19,37,1,0,1,0,1,0.0,2.510,1.510,0.395106,0.329160,0.545527,0.454473
1438819,6702470,2023-06-04 00:09:32,34,1,0,0,1,1,0.0,1.560,2.460,0.474459,0.180790,0.724089,0.275911
1433449,6063258,2023-06-04 00:09:57,15,0,0,0,0,0,0.0,0.000,0.000,0.504377,0.201025,0.715021,0.284979
1434677,6620482,2023-06-04 00:10:04,38,1,0,1,0,1,0.0,2.690,1.450,0.414495,0.311152,0.571208,0.428792
1421516,6729033,2023-06-04 00:10:05,40,1,0,0,2,0,-1.0,2.530,1.500,0.235185,0.484575,0.326755,0.673245
1438820,6702470,2023-06-04 00:10:27,35,1,0,0,1,1,0.0,1.460,2.750,0.479805,0.170594,0.737709,0.262291
1421517,6729033,2023-06-04 00:10:48,41,1,0,0,2,0,-1.0,2.560,1.490,0.229173,0.490448,0.318463,0.681537
1433450,6063258,2023-06-04 00:10:59,16,0,0,0,0,0,0.0,0.000,0.000,0.499540,0.202377,0.711680,0.288320
1434678,6620482,2023-06-04 00:11:15,39,1,0,1,0,1,0.0,2.290,1.600,0.427527,0.299353,0.588167,0.411833
1438821,6702470,2023-06-04 00:11:25,36,1,0,0,1,1,0.0,1.460,2.750,0.468312,0.177530,0.725119,0.274881
1421518,6729033,2023-06-04 00:11:50,42,1,0,0,2,0,-1.0,2.590,1.480,0.226418,0.490772,0.315702,0.684298
1433451,6063258,2023-06-04 00:12:04,17,0,0,0,0,0,0.0,0.000,0.000,0.493776,0.203750,0.707896,0.292104
1434679,6620482,2023-06-04 00:12:17,40,1,0,1,0,1,0.0,2.310,1.590,0.436857,0.290915,0.600266,0.399734
1438822,6702470,2023-06-04 00:12:32,37,1,0,0,1,1,0.0,1.460,2.750,0.472186,0.167006,0.738723,0.261277
1433452,6063258,2023-06-04 00:12:35,18,0,0,0,0,0,0.0,0.000,0.000,0.482929,0.208333,0.698619,0.301381
1421519,6729033,2023-06-04 00:12:36,43,1,0,0,2,0,-1.0,2.660,1.460,0.220589,0.495603,0.308002,0.691998
1434680,6620482,2023-06-04 00:12:53,41,1,0,1,0,1,0.0,2.340,1.580,0.432122,0.293394,0.595607,0.404393
1433453,6063258,2023-06-04 00:13:47,19,0,0,0,0,0,0.0,0.000,0.000,0.478287,0.208460,0.696453,0.303547
1421520,6729033,2023-06-04 00:14:11,44,1,0,0,2,0,-1.0,2.730,1.440,0.211167,0.504748,0.294961,0.705039
1438823,6702470,2023-06-04 00:14:19,39,1,1,0,1,1,-1.5,2.000,1.830,0.470045,0.529867,0.470086,0.529914
1434681,6620482,2023-06-04 00:14:22,42,1,0,1,0,1,0.0,2.380,1.560,0.425908,0.297320,0.588899,0.411101
1433454,6063258,2023-06-04 00:14:56,20,0,0,0,0,0,0.0,0.000,0.000,0.485735,0.200160,0.708177,0.291823
1438824,6702470,2023-06-04 00:15:06,40,1,1,0,1,1,-1.5,2.000,1.830,0.459470,0.540461,0.459502,0.540498
1421521,6729033,2023-06-04 00:15:09,45,1,0,0,2,0,-1.0,2.760,1.430,0.203777,0.514402,0.283741,0.716259
1434682,6620482,2023-06-04 00:15:15,43,1,0,1,0,1,0.0,2.400,1.550,0.420080,0.300442,0.583022,0.416978
1433455,6063258,2023-06-04 00:15:43,21,0,0,0,0,0,0.0,0.000,0.000,0.461309,0.218961,0.678126,0.321874
1438825,6702470,2023-06-04 00:16:17,41,1,1,0,1,1,-1.5,2.020,1.810,0.452404,0.547538,0.452430,0.547570
1434683,6620482,2023-06-04 00:16:21,44,1,0,1,0,1,0.0,2.450,1.530,0.413310,0.303835,0.576327,0.423673
1433456,6063258,2023-06-04 00:16:48,22,0,0,0,0,0,0.0,0.000,0.000,0.453826,0.223150,0.670372,0.329628
1434684,6620482,2023-06-04 00:17:22,45,1,0,1,0,1,0.0,2.380,1.560,0.419421,0.298752,0.584011,0.415989
1438826,6702470,2023-06-04 00:17:33,42,1,1,0,1,1,-1.5,2.030,1.800,0.451566,0.548381,0.451590,0.548410
1433457,6063258,2023-06-04 00:18:05,23,0,0,0,0,0,0.0,0.000,0.000,0.443836,0.231258,0.657443,0.342557
1438827,6702470,2023-06-04 00:18:20,43,1,1,0,1,1,-1.5,1.890,1.930,0.451940,0.548010,0.451963,0.548037
1433458,6063258,2023-06-04 00:18:58,24,0,0,0,0,0,0.0,0.000,0.000,0.421665,0.244750,0.632736,0.367264
1438828,6702470,2023-06-04 00:19:28,44,1,1,0,1,1,-1.5,1.909,1.909,0.449692,0.550263,0.449712,0.550288
1433459,6063258,2023-06-04 00:19:55,25,0,0,0,0,0,0.0,0.000,0.000,0.421175,0.242554,0.634559,0.365441
1438829,6702470,2023-06-04 00:20:31,45,1,1,0,1,1,-1.5,1.920,1.900,0.459530,0.540421,0.459552,0.540448
1433460,6063258,2023-06-04 00:20:59,26,0,0,0,0,0,0.0,0.000,0.000,0.403705,0.252269,0.615428,0.384572
1433461,6063258,2023-06-04 00:22:05,27,0,0,0,0,0,0.0,0.000,0.000,0.401734,0.251281,0.615199,0.384801
1433462,6063258,2023-06-04 00:23:02,28,0,0,0,0,0,0.0,0.000,0.000,0.397441,0.253505,0.610559,0.389441
1433463,6063258,2023-06-04 00:24:01,29,0,0,0,0,0,0.0,0.000,0.000,0.400115,0.248448,0.616926,0.383074
1433464,6063258,2023-06-04 00:24:57,30,0,0,0,0,0,0.0,0.000,0.000,0.397289,0.246638,0.616978,0.383022
1433465,6063258,2023-06-04 00:26:00,31,0,0,0,0,0,0.0,0.000,0.000,0.392063,0.246807,0.613682,0.386318
1433466,6063258,2023-06-04 00:26:50,32,0,0,0,0,0,0.0,0.000,0.000,0.400969,0.239926,0.625640,0.374360
1433467,6063258,2023-06-04 00:27:37,33,0,0,0,0,0,0.0,0.000,0.000,0.397570,0.238756,0.624790,0.375210
1433468,6063258,2023-06-04 00:29:05,34,0,0,0,0,0,0.0,0.000,0.000,0.394242,0.238089,0.623474,0.376526
1433469,6063258,2023-06-04 00:29:51,35,0,0,0,0,0,0.0,0.000,0.000,0.380081,0.249260,0.603935,0.396065
1433470,6063258,2023-06-04 00:31:05,36,0,0,0,0,0,0.0,0.000,0.000,0.371888,0.255024,0.593206,0.406794
1433471,6063258,2023-06-04 00:32:05,37,0,0,0,0,0,0.0,0.000,0.000,0.362117,0.257374,0.584540,0.415460
1433472,6063258,2023-06-04 00:32:48,38,0,0,0,0,0,0.0,0.000,0.000,0.348532,0.263479,0.569486,0.430514
1433473,6063258,2023-06-04 00:34:05,39,0,0,0,0,0,0.0,0.000,0.000,0.343977,0.262295,0.567364,0.432636
1433474,6063258,2023-06-04 00:35:03,40,0,0,0,0,0,0.0,0.000,0.000,0.340251,0.260533,0.566345,0.433655
1433475,6063258,2023-06-04 00:36:04,41,0,0,0,0,0,0.0,0.000,0.000,0.337676,0.258013,0.566866,0.433134
1433476,6063258,2023-06-04 00:36:39,42,0,0,0,0,0,0.0,0.000,0.000,0.340891,0.251024,0.575912,0.424088
1433477,6063258,2023-06-04 00:37:59,43,0,0,0,0,0,0.0,0.000,0.000,0.352340,0.239009,0.595824,0.404176
1433478,6063258,2023-06-04 00:38:42,44,0,0,0,0,0,0.0,0.000,0.000,0.348475,0.238078,0.594107,0.405893
1433479,6063258,2023-06-04 00:40:04,45,0,0,0,0,0,0.0,0.000,0.000,0.351651,0.233883,0.600565,0.399435

In [ ]:
data_df[data_df['Id'] == 5981098]

,Id,StatTime,Minute,Score1,Score2,Active.1,W1,WX,W2,X1,X2,W12,TotalValue,Over,Under,Hand1Value,H1,H2,Result1,Result2,P1,PX,P2,min_norm,Score1_norm,Score2_norm,Score_diff,Score_cat_1,Score_cat_2,Score_cat_3,Score_cat_4,Score_cat_5,Score_cat_6,Score_cat_7,Score_cat_8,Score_cat_9,A1_scaled,A2_scaled,A1perMIN,A2perMIN,A1relativ,A2relativ,DA1_scaled,DA2_scaled,DA1perMIN,DA2perMIN,DA1relativ,DA2relativ,Pos1_cleaned,Pos2_cleaned,Off1_norm,Off2_norm,On1_norm,On2_norm,YC1_transformed,YC2_transformed,RC1_transformed,RC2_transformed,Sub1_transformed,Sub2_transformed,Cor1_transformed,Cor2_transformed,P1_transformed,P2_transformed,H_prob,A_prob,H_prob_adj,A_prob_adj
1811904,5981098,2023-05-16 06:08:11,1,1,0,0,0.000,0.00,0.0,0.0,0.00,0.000,7.0,6.250,1.220,-3.5,1.750,2.040,4,2,1.125,7.5,11.0,0.02,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.026667,0.013333,2.000000,1.000000,0.0,0.0,0.020000,0.00,1.000000,0.000000,0.0,0.0,0.2,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.466410,0.465550,0.500462,0.499538
1811905,5981098,2023-05-16 06:08:31,2,1,0,0,0.000,0.00,0.0,0.0,0.00,0.000,7.0,6.300,1.220,-3.5,1.750,2.040,4,2,1.125,7.5,11.0,0.04,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.026667,0.013333,1.000000,0.500000,0.0,0.0,0.020000,0.00,0.500000,0.000000,0.0,0.0,0.2,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.444309,0.501567,0.469733,0.530267
1811906,5981098,2023-05-16 06:10:13,3,1,0,1,0.000,0.00,0.0,0.0,0.00,0.000,7.0,6.350,1.210,-3.5,1.730,2.070,4,2,1.125,7.5,11.0,0.06,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.026667,0.040000,0.666667,1.000000,0.0,0.0,0.020000,0.02,0.333333,0.333333,0.0,0.0,0.2,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.405618,0.554690,0.422383,0.577617
1811907,5981098,2023-05-16 06:11:09,4,1,0,1,0.000,0.00,0.0,0.0,0.00,0.000,7.0,6.500,1.210,-3.5,1.810,1.970,4,2,1.125,7.5,11.0,0.08,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.026667,0.053333,0.500000,1.000000,0.0,0.0,0.020000,0.06,0.250000,0.750000,0.0,0.0,0.2,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.376081,0.590669,0.389016,0.610984
1811908,5981098,2023-05-16 06:12:16,5,1,0,1,0.000,0.00,0.0,0.0,0.00,0.000,7.0,6.650,1.194,-3.5,1.820,1.952,4,2,1.125,7.5,11.0,0.10,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.040000,0.093333,0.600000,1.400000,0.0,0.0,0.020000,0.06,0.200000,0.600000,0.0,0.0,0.2,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.369905,0.599607,0.381538,0.618462
1811909,5981098,2023-05-16 06:13:13,6,1,0,1,0.000,0.00,0.0,0.0,0.00,0.000,5.0,2.080,1.727,-3.5,1.840,1.930,4,2,1.125,7.5,11.0,0.12,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.040000,0.093333,0.500000,1.166667,1.0,6.0,0.040000,0.08,0.333333,0.666667,1.0,4.0,0.2,0.2,0.1,0.0,0.2,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.376896,0.590789,0.389482,0.610518
1811910,5981098,2023-05-16 06:14:13,7,1,0,1,0.000,0.00,0.0,0.0,0.00,0.000,5.0,2.050,1.750,-3.5,1.860,1.909,4,2,1.125,7.5,11.0,0.14,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.066667,0.120000,0.714286,1.285714,3.0,8.0,0.100000,0.08,0.714286,0.571429,4.0,4.0,0.2,0.2,0.1,0.0,0.2,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.402903,0.558776,0.418958,0.581042
1811911,5981098,2023-05-16 06:15:15,8,1,0,1,0.000,0.00,0.0,0.0,0.00,0.000,5.0,2.050,1.670,-3.5,1.930,1.840,4,2,1.125,7.5,11.0,0.16,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.093333,0.120000,0.875000,1.125000,5.0,6.0,0.120000,0.08,0.750000,0.500000,5.0,3.0,0.2,0.2,0.1,0.0,0.2,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.407653,0.554091,0.423869,0.576131
1811912,5981098,2023-05-16 06:16:15,9,1,0,1,0.000,0.00,0.0,0.0,0.00,0.000,4.5,1.790,2.000,-3.5,1.952,1.820,4,2,1.125,7.5,11.0,0.18,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.146667,0.120000,1.222222,1.000000,9.0,5.0,0.180000,0.08,1.000000,0.444444,8.0,1.0,0.2,0.2,0.2,0.0,0.2,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.443586,0.508469,0.465925,0.534075
1811913,5981098,2023-05-16 06:17:13,10,1,0,1,0.000,0.00,0.0,0.0,0.00,0.000,4.5,1.770,2.030,-3.5,1.980,1.800,4,2,1.125,7.5,11.0,0.20,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.173333,0.120000,1.300000,0.900000,10.0,2.0,0.200000,0.08,1.000000,0.400000,9.0,1.0,0.2,0.2,0.3,0.0,0.4,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.466111,0.476413,0.494535,0.505465
1811914,5981098,2023-05-16 06:18:13,11,1,0,1,0.000,0.00,0.0,0.0,0.00,0.000,4.5,1.790,2.000,-3.5,1.920,1.850,4,2,1.125,7.5,11.0,0.22,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.240000,0.120000,1.636364,0.818182,15.0,2.0,0.240000,0.08,1.090909,0.363636,10.0,0.0,0.2,0.2,0.4,0.0,0.4,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.476957,0.462467,0.507712,0.492288
1811915,5981098,2023-05-16 06:18:43,12,1,0,1,0.000,0.00,0.0,0.0,0.00,0.000,4.5,1.770,2.030,-3.5,1.930,1.840,4,2,1.125,7.5,11.0,0.24,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.253333,0.120000,1.583333,0.750000,14.0,0.0,0.240000,0.08,1.000000,0.333333,7.0,0.0,0.2,0.2,0.4,0.0,0.4,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.473298,0.469286,0.502128,0.497872
1811916,5981098,2023-05-16 07:02:33,13,1,0,0,0.000,0.00,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,0.000,0.000,4,2,1.125,7.5,11.0,0.26,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.266667,0.120000,1.538462,0.692308,13.0,0.0,0.300000,0.08,1.153846,0.307692,9.0,0.0,0.2,0.2,0.4,0.0,0.4,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.909762,0.006899,0.992474,0.007526
1811917,5981098,2023-05-16 07:03:39,14,1,0,0,0.000,0.00,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,0.000,0.000,4,2,1.125,7.5,11.0,0.28,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.266667,0.120000,1.428571,0.642857,9.0,0.0,0.300000,0.08,1.071429,0.285714,6.0,0.0,0.2,0.2,0.4,0.0,0.4,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.911920,0.007039,0.992340,0.007660
1811918,5981098,2023-05-16 07:04:40,15,1,0,0,0.000,0.00,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,0.000,0.000,4,2,1.125,7.5,11.0,0.30,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.266667,0.146667,1.333333,0.733333,7.0,2.0,0.300000,0.10,1.000000,0.333333,5.0,1.0,0.2,0.2,0.4,0.0,0.4,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.913856,0.008159,0.991151,0.008849
1811919,5981098,2023-05-16 07:05:32,16,1,0,0,0.000,0.00,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,0.000,0.000,4,2,1.125,7.5,11.0,0.32,0.25,0.00,0.25,0,0,0,0,0,1,0,0,0,0.346667,0.173333,1.625000,0.812500,8.0,4.0,0.320000,0.10,1.000000,0.312500,4.0,1.0,0.2,0.2,0.4,0.0,0.4,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.919451,0.007271,0.992154,0.007846
1811920,5981098,2023-05-16 07:07:35,18,2,0,0,0.000,0.00,0.0,0.0,0.00,0.000,5.5,1.930,1.850,-4.5,2.040,1.750,4,2,1.125,7.5,11.0,0.36,0.50,0.00,0.50,0,0,0,0,0,0,1,0,0,0.373333,0.186667,1.555556,0.777778,9.0,5.0,0.360000,0.10,1.000000,0.277778,6.0,1.0,0.2,0.2,0.4,0.0,0.6,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.493312,0.444860,0.525823,0.474177
1811921,5981098,2023-05-16 07:08:39,19,2,0,1,0.000,0.00,0.0,0.0,0.00,0.000,5.5,1.960,1.820,-4.5,2.080,1.727,4,2,1.125,7.5,11.0,0.38,0.50,0.00,0.50,0,0,0,0,0,0,1,0,0,0.386667,0.213333,1.526316,0.842105,9.0,7.0,0.360000,0.10,0.947368,0.263158,3.0,1.0,0.2,0.2,0.5,0.0,0.6,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.490117,0.450942,0.520815,0.479185
1811922,5981098,2023-05-16 07:09:38,20,2,0,1,0.000,0.00,0.0,0.0,0.00,0.000,5.5,2.000,1.790,-4.5,2.040,1.750,4,2,1.125,7.5,11.0,0.40,0.50,0.00,0.50,0,0,0,0,0,0,1,0,0,0.426667,0.213333,1.600000,0.800000,12.0,7.0,0.420000,0.10,1.050000,0.250000,6.0,1.0,0.2,0.2,0.5,0.0,0.8,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.507732,0.425007,0.544345,0.455655
1811923,5981098,2023-05-16 07:10:10,21,2,0,1,0.000,0.00,0.0,0.0,0.00,0.000,5.5,1.980,1.810,-4.5,2.060,1.740,4,2,1.125,7.5,11.0,0.42,0.50,0.00,0.50,0,0,0,0,0,0,1,0,0,0.426667,0.240000,1.523810,0.857143,12.0,7.0,0.420000,0.10,1.000000,0.238095,6.0,0.0,0.2,0.2,0.5,0.0,0.8,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.503727,0.433420,0.537512,0.462488
1811924,5981098,2023-05-16 07:11:37,22,2,0,1,0.000,0.00,0.0,0.0,0.00,0.000,5.5,2.030,1.770,-4.5,2.100,1.710,4,2,1.125,7.5,11.0,0.44,0.50,0.00,0.50,0,0,0,0,0,0,1,0,0,0.480000,0.240000,1.636364,0.818182,10.0,5.0,0.460000,0.10,1.045455,0.227273,7.0,0.0,0.2,0.2,0.5,0.0,0.8,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.502361,0.437349,0.534592,0.465408
1811925,5981098,2023-05-16 07:12:35,23,2,0,1,0.000,0.00,0.0,0.0,0.00,0.000,5.5,2.070,1.740,-4.0,1.700,2.120,4,2,1.125,7.5,11.0,0.46,0.50,0.00,0.50,0,0,0,0,0,0,1,0,0,0.493333,0.240000,1.608696,0.782609,9.0,4.0,0.480000,0.10,1.043478,0.217391,6.0,0.0,0.2,0.2,0.5,0.0,0.8,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.499623,0.243459,0.672366,0.327634
1811926,5981098,2023-05-16 07:13:37,24,2,0,1,0.000,0.00,0.0,0.0,0.00,0.000,5.5,2.010,1.780,-4.0,1.720,2.090,4,2,1.125,7.5,11.0,0.48,0.50,0.00,0.50,0,0,0,0,0,0,1,0,0,0.506667,0.293333,1.583333,0.916667,9.0,6.0,0.520000,0.12,1.083333,0.250000,8.0,1.0,0.2,0.2,0.5,0.0,0.8,0.0,0.0,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.480652,0.264751,0.644821,0.355179
1811927,5981098,2023-05-16 07:15:40,26,2,0,0,1.007,15.75,35.0,0.0,11.00,0.000,6.5,2.130,1.700,-3.0,1.820,1.952,4,2,1.125,7.5,11.0,0.52,0.50,0.00,0.50,0,0,0,0,0,0,1,0,0,0.520000,0.320000,1.500000,0.923077,7.0,8.0,0.520000,0.16,1.000000,0.307692,5.0,3.0,0.2,0.2,0.5,0.1,0.8,0.0,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.665640,0.125303,0.841578,0.158422
1811928,5981098,2023-05-16 07:17:40,28,2,1,0,0.000,0.00,0.0,0.0,0.00,0.000,6.0,1.770,2.030,-3.0,1.770,2.020,4,2,1.125,7.5,11.0,0.56,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.626667,0.333333,1.678571,0.892857,15.0,7.0,0.600000,0.16,1.071429,0.285714,9.0,3.0,0.2,0.2,0.5,0.1,0.8,0.2,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.423998,0.325576,0.565651,0.434349
1811929,5981098,2023-05-16 07:18:40,29,2,1,1,1.004,16.25,36.0,0.0,11.50,0.000,6.0,1.810,1.980,-3.0,1.850,1.920,4,2,1.125,7.5,11.0,0.58,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.693333,0.333333,1.793103,0.862069,15.0,7.0,0.640000,0.16,1.103448,0.275862,9.0,3.0,0.2,0.2,0.6,0.1,0.8,0.2,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.428970,0.319960,0.572777,0.427223
1811930,5981098,2023-05-16 07:19:34,30,2,1,1,1.004,16.25,36.0,0.0,11.50,0.000,6.0,1.833,1.950,-3.0,1.870,1.900,4,2,1.125,7.5,11.0,0.60,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.720000,0.346667,1.800000,0.866667,15.0,8.0,0.680000,0.16,1.133333,0.266667,10.0,3.0,0.2,0.2,0.6,0.1,0.8,0.2,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.423301,0.325604,0.565226,0.434774
1811931,5981098,2023-05-16 07:20:40,31,2,1,1,1.006,15.75,36.0,0.0,11.25,0.000,8.0,7.200,1.190,-3.0,1.909,1.860,4,2,1.125,7.5,11.0,0.62,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.746667,0.346667,1.806452,0.838710,15.0,4.0,0.680000,0.18,1.096774,0.290323,8.0,3.0,0.2,0.2,0.6,0.1,0.8,0.2,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.408780,0.340809,0.545339,0.454661
1811932,5981098,2023-05-16 07:21:37,32,2,1,1,1.006,15.75,36.0,0.0,11.25,0.000,8.0,7.300,1.183,-3.0,1.920,1.850,4,2,1.125,7.5,11.0,0.64,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.773333,0.360000,1.812500,0.843750,15.0,3.0,0.700000,0.20,1.093750,0.312500,9.0,2.0,0.2,0.2,0.7,0.1,0.8,0.2,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.406698,0.342804,0.542624,0.457376
1811933,5981098,2023-05-16 07:22:38,33,2,1,1,1.007,15.50,36.0,0.0,11.00,0.000,6.0,2.000,1.790,-3.0,1.980,1.800,4,2,1.125,7.5,11.0,0.66,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.816667,0.373333,1.969697,0.848485,15.0,3.0,0.700000,0.20,1.060606,0.303030,5.0,2.0,0.2,0.2,0.7,0.1,0.8,0.2,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.397558,0.352097,0.530321,0.469679
1811934,5981098,2023-05-16 07:23:36,34,2,1,1,1.008,15.25,36.0,0.0,11.00,0.000,6.0,2.070,1.740,-3.0,2.020,1.770,4,2,1.125,7.5,11.0,0.68,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.816667,0.413333,1.911765,0.911765,13.0,6.0,0.700000,0.20,1.029412,0.294118,3.0,2.0,0.2,0.2,0.7,0.1,0.8,0.2,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.387221,0.362610,0.516411,0.483589
1811935,5981098,2023-05-16 07:24:40,35,2,1,1,1.009,15.25,35.0,0.0,10.75,0.000,6.0,2.130,1.700,-3.0,2.060,1.740,4,2,1.125,7.5,11.0,0.70,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.823333,0.440000,1.914286,0.942857,13.0,7.0,0.720000,0.20,1.028571,0.285714,2.0,2.0,0.2,0.2,0.7,0.1,0.8,0.2,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.378938,0.370922,0.505345,0.494655
1811936,5981098,2023-05-16 07:25:24,36,2,1,1,1.009,15.25,35.0,0.0,10.75,0.000,5.5,1.700,2.130,-3.0,2.080,1.727,4,2,1.125,7.5,11.0,0.72,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.830000,0.440000,1.916667,0.916667,13.0,7.0,0.740000,0.20,1.027778,0.277778,3.0,1.0,0.2,0.2,0.8,0.1,0.8,0.2,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.374492,0.374951,0.499693,0.500307
1811937,5981098,2023-05-16 07:26:28,37,2,1,1,1.010,15.00,35.0,0.0,10.75,0.000,5.5,1.727,2.090,-3.0,2.120,1.700,4,2,1.125,7.5,11.0,0.74,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.830000,0.480000,1.864865,0.972973,11.0,9.0,0.740000,0.24,1.000000,0.324324,2.0,2.0,0.2,0.2,0.8,0.1,0.8,0.4,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.357738,0.393732,0.476051,0.523949
1811938,5981098,2023-05-16 07:27:39,38,2,1,1,1.013,14.50,34.0,0.0,10.50,0.000,5.5,1.750,2.050,-2.5,1.700,2.120,4,2,1.125,7.5,11.0,0.76,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.833333,0.480000,1.842105,0.947368,5.0,8.0,0.740000,0.24,0.973684,0.315789,2.0,2.0,0.2,0.2,0.8,0.1,0.8,0.4,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.580876,0.406189,0.588488,0.411512
1811939,5981098,2023-05-16 07:28:36,39,2,1,1,1.014,14.25,35.0,0.0,10.25,0.000,5.5,1.760,2.040,-2.5,1.710,2.100,4,2,1.125,7.5,11.0,0.78,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.840000,0.493333,1.846154,0.948718,7.0,6.0,0.800000,0.24,1.025641,0.307692,5.0,2.0,0.2,0.2,0.9,0.1,1.0,0.4,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.625108,0.355198,0.637666,0.362334
1811940,5981098,2023-05-16 07:29:40,40,2,1,1,1.023,13.25,31.0,0.0,9.40,0.000,5.5,1.820,1.960,-2.5,1.800,1.980,4,2,1.125,7.5,11.0,0.80,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.843333,0.520000,1.825000,0.975000,6.0,6.0,0.800000,0.24,1.000000,0.300000,4.0,2.0,0.2,0.2,0.9,0.1,1.0,0.4,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.619121,0.362844,0.630492,0.369508
1811941,5981098,2023-05-16 07:30:38,41,2,1,1,1.020,13.50,32.0,0.0,9.70,0.000,5.5,1.900,1.880,-2.5,1.820,1.952,4,2,1.125,7.5,11.0,0.82,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.850000,0.546667,1.829268,1.000000,6.0,8.0,0.800000,0.24,0.975610,0.292683,3.0,2.0,0.2,0.2,0.9,0.1,1.0,0.4,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.608472,0.375772,0.618212,0.381788
1811942,5981098,2023-05-16 07:31:33,42,2,1,0,0.000,0.00,0.0,0.0,0.00,0.000,0.0,0.000,0.000,0.0,0.000,0.000,4,2,1.125,7.5,11.0,0.84,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.870000,0.560000,1.928571,1.000000,12.0,6.0,0.813333,0.24,1.047619,0.285714,7.0,0.0,0.2,0.2,0.9,0.1,1.0,0.4,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.944945,0.006436,0.993235,0.006765
1811943,5981098,2023-05-16 07:32:37,43,2,1,1,1.033,12.00,30.0,0.0,8.70,0.000,5.5,2.000,1.790,-2.5,1.952,1.820,4,2,1.125,7.5,11.0,0.86,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.876667,0.573333,1.930233,1.000000,13.0,7.0,0.823333,0.26,1.093023,0.302326,10.0,1.0,0.2,0.2,0.9,0.1,1.0,0.4,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.603127,0.382638,0.611836,0.388164
1811944,5981098,2023-05-16 07:33:24,44,2,1,1,1.034,11.75,30.0,0.0,8.60,0.000,5.5,2.040,1.760,-2.5,1.970,1.810,4,2,1.125,7.5,11.0,0.88,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.880000,0.586667,1.909091,1.000000,12.0,7.0,0.830000,0.26,1.113636,0.295455,9.0,1.0,0.2,0.2,1.0,0.1,1.0,0.4,0.5,0.0,0,0,0,0,0.0,0.000000,0.058892,1.198948,0.609418,0.375762,0.618586,0.381414
1811945,5981098,2023-05-16 07:34:40,45,2,1,1,1.036,11.50,30.0,0.0,8.40,1.003,5.5,2.130,1.700,-2.5,2.030,1.760,4,2,1.125,7.5,11.0,0.90,0.50,0.25,0.25,0,0,0,0,0,1,0,0,0,0.880000,0.613333,1.866667,1.022222,11.0,7.0,0.830000,0.32,1.088889,0.355556,9.0,4.0,0.2,0.2,1.0,0.1,1.0,0.4,0.5,0.0,0,0,0,0,0.0,0.166667,0.058892,1.198948,0.588471,0.398666,0.596139,0.403861

In [ ]:
data_df[(data_df['StatTime'] > '2023-05-15 23:59:59') &\
                     (data_df['StatTime'] < '2023-05-16 12:00:59')].to_csv('./result_report_handicap.csv', index = None)

#### Upload to Yandex

In [ ]:
data_df[report_cols].to_csv('./handicap_probabilities.csv', index = False)

In [ ]:
#data_df.to_csv('./handicap_dataframe.csv', index = False)

In [ ]:
try:
    import yadisk
except:
    !pip install yadisk >> None
    import yadisk
def get_credential2(frmwork = 'yandex token'):
    with open('cred.txt', 'r') as container:
        for line in container:
            if frmwork in line:
                login, psw = line.split(' ')[1], line.split(' ')[2].split('\n')[0]
                return login, psw
_, api_key2 = get_credential2()
y = yadisk.YaDisk(token = api_key2)
print('Token exists: ', y.check_token())

Token exists:  True

In [ ]:
date_upload = 20230604

In [ ]:
#print(y.mkdir(f'disk:/sport_prediction/calcio_2021/uploads/{date_upload}'))

In [ ]:
with open('/content/handicap_probabilities.csv', 'rb') as f:
    y.upload(f, f'disk:/sport_prediction/calcio_2021/uploads/{date_upload}/handicap_cv_probabilities_wo_folds.csv')

### visualize results

#### assign data

In [ ]:
np.sum((data_df['H1'] > 1) & (data_df['H2'] > 1) & (data_df['Active.1'] > 0)), data_df['Active.1'].shape

(1602948, (1827026,))

In [ ]:
results_dict = {'validation':{
    'result1':data_df['Result1'].values,
    'result2':data_df['Result2'].values
    }}
line_dict = {'validation':data_df[['Hand1Value', 'H1', 'H2']].values}
active_rows_dict = {'validation':\
                    (data_df['H1'] > 1) & \
                    (data_df['H2'] > 1) & \
                    (data_df['Active.1'] > 0)
                    }
prob_dict = {'validation':prob}

#### imports

In [ ]:
import plotly.graph_objects as go
import plotly.express as px
import plotly.subplots as sp
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

#### functions

In [ ]:
def calculate_multiclass(probability_2x:np.array, line_2x:np.array):
    '''
    input : 0 - over, 1 - under
    output: 0 - over, 1 - under
    '''
    probability_adj = probability_2x / np.sum(probability_2x, axis = 1).reshape(-1, 1)
    probline_adj = probability_adj * line_2x
    probline = probability_2x * line_2x
    best_odd_result = np.argmax(probline_adj, axis = 1)
    best_odd_float_adj = np.take_along_axis(probline_adj, best_odd_result.reshape(-1, 1), axis = 1)
    best_odd_float = np.take_along_axis(probline, best_odd_result.reshape(-1, 1), axis = 1)
    return {
        'argmax':best_odd_result,
        'float':best_odd_float,
        'float_adj':best_odd_float_adj
    }

In [ ]:
def make_filter(hda, preds_int):
    hda_dict = {'home':0, 'away':1}
    if hda == 'all':
        return preds_int > -1
    else:
        return preds_int == hda_dict[hda]

In [ ]:
def plot_ga_equity_separate(
    sel_best_dict = {'home':1.1555, 'away':1.1555}, #
    prob_dict = prob_dict,
    line_dict = line_dict,
    results_dict = results_dict,
    active_rows_dict = active_rows_dict,
    x_date = np.empty(()),
    neptune_model_version = neptune_model_version,
    data_split = 'validation'
    ):
    hda_dict = {'all':{'ltype':'solid', 'colors':'rgb(93, 164, 214)', 'line_width':3},
                'home':{'ltype':'dot', 'colors':'rgb(255, 144, 14)', 'line_width':1},
                'away':{'ltype':'dot', 'colors':'rgb(44, 160, 101)', 'line_width':1}}
    layout_dict = {}
    data_list = []
    preds_int, preds_float, preds_float_adj = calculate_multiclass(
        prob_dict[data_split],
        line_dict[data_split][:,1:3]).values()
    preds_float_adj = preds_float_adj[:,0]
    preds_vec = preds_int * (2) - 1
    final_goal_diff = (results_dict[data_split]['result1'] - \
                      results_dict[data_split]['result2'])
    res_vec = ((final_goal_diff + line_dict[data_split][:,0]) > 0) * (-1) + \
             ((final_goal_diff + line_dict[data_split][:,0]) < 0) * (1)
    win_vec, lose_vec = (preds_vec * res_vec) == 1, (preds_vec * res_vec) == -1
    line_vec = np.take_along_axis(
                        line_dict[data_split][:,1:3],
                        preds_int.reshape(-1, 1),
                        axis = 1
                                )[:, 0]
    placed_bets = (
        (preds_float_adj >= sel_best_dict['home']) | \
        (preds_float_adj >= sel_best_dict['away'])
                    ) & \
        active_rows_dict[data_split]
    ################
    line_vec = line_vec[placed_bets]
    win_vec = win_vec[placed_bets]
    lose_vec = lose_vec[placed_bets]
    preds_int = preds_int[placed_bets]
    x_date = pd.to_datetime(x_date).dt.date.values[placed_bets]
    ################
    y = ((line_vec - 1) / line_vec) * (win_vec).astype(np.float32) - \
        (1/line_vec) * (lose_vec).astype(np.float32)
    side_dict = {'home':0, 'away':1}
    for hda, value_dict in hda_dict.items():
        if hda != 'all':
            data_list += [
                go.Scatter(
                    y = np.cumsum(y * (preds_int == side_dict[hda])),
                    x = x_date,
                    name = hda,
                    line = dict(color = value_dict['colors'], width = value_dict['line_width'], dash = value_dict['ltype'])
                            )]
        else:
            data_list += [
                go.Scatter(
                    y = np.cumsum(y),
                    x = x_date,
                    name = 'all',
                    line = dict(color = hda_dict['all']['colors'], width = hda_dict['all']['line_width'], dash = hda_dict['all']['ltype'])
                            )]
    title_text = f'<b>Handicap (cv)</b> equity curve {data_split}<br>Model in neptune.ai: FOOT-{neptune_model_version}<br>' + \
        f"ROI: {np.round(np.cumsum(y)[-1] * 100 / np.sum(1/line_vec, dtype = np.float32), 4)}%" + \
        f' | Bet quantity: {np.sum(placed_bets)}<br>'
    dt_min = min(x_date)
    dt_max = max(x_date)
    layout_dict.update({
    'width':1200,
    'height':800,
    #'title_x':0.5,
    'title_text':title_text,
    'paper_bgcolor':'rgb(229, 237, 247)',
    'plot_bgcolor':'rgb(229, 237, 247)',
    'xaxis':{'range':[dt_min, dt_max]}
                    })
    layout = go.Layout(**layout_dict)
    return go.Figure(data=data_list, layout=layout)

### visualization

In [ ]:
fig = plot_ga_equity_separate(x_date = data_df['StatTime'])
fig.show()

### Betting Strategies

##### Functions

In [ ]:
def bet_open(match_id_dict:dict, match_minute:int, strategy = '5minute', nbets = 3, last_type = None, current_prob = None, prob_thres = 1.05):
    '''
    '''
    if strategy == '5minute':
        if 'last_bet_minute' in match_id_dict:
            if (match_minute - match_id_dict['last_bet_minute']) > 4:
                return True
            else:
                return False
        else:
            return True
    elif strategy == 'nbets':
        if 'nbets' in match_id_dict:
            if match_id_dict['nbets'] >= nbets:
                return False
            else:
                return True
        else:
            return True
    elif strategy == 'changes':
        if 'last_type' in match_id_dict:
            if match_id_dict['last_type'] != last_type:
                return True
            elif (current_prob / match_id_dict['last_prob']) > prob_thres:
                return True
            else:
                return False
        else:
            return True

In [ ]:
def plot_strategy(
    prob_dict,
    line_dict,
    results_dict,
    active_rows_dict,
    data_df,
    strategy_type = 'nbets', #'nbets' #'5minute'
    neptune_model_version = neptune_model_version,
    data_split = 'validation',
    sel_best_dict = {'home':1.1555, 'away':1.1555}
):

    type2int = {0:'home', 1:'away'}
    hda_dict = {'all':{'ltype':'solid', 'colors':'rgb(93, 164, 214)', 'line_width':3, 'order':2},
                'home':{'ltype':'dot', 'colors':'rgb(255, 144, 14)', 'line_width':1, 'order':0},
                'away':{'ltype':'dot', 'colors':'rgb(44, 160, 101)', 'line_width':1, 'order':1}}

    match_live_dict = {}
    output_list = []
    date_list = []
    bet_size_list = []
    preds_int, preds_float, preds_float_adj = calculate_multiclass(
                                        prob_dict[data_split],
                                        line_dict[data_split][:,1:3]
                                    ).values()
    for pred_win, pred_prob, line, results1, results2, match_id, \
                    match_time, match_minute, active in tqdm(zip(
            preds_int,
            preds_float_adj,
            line_dict[data_split],
            results_dict[data_split]['result1'],
            results_dict[data_split]['result2'],
            data_df['Id'].values,
            data_df['StatTime'],
            data_df['Minute'].values,
            active_rows_dict[data_split]
                                ), total = active_rows_dict[data_split].shape[0]):

        if active:
            if pred_prob > sel_best_dict[type2int[pred_win]]:
                if match_id not in match_live_dict:
                    match_live_dict[match_id] = {'nbets':0}

                if bet_open(match_live_dict[match_id], match_minute, strategy = strategy_type,
                            nbets = 3,
                            last_type = pred_win, current_prob = pred_prob, prob_thres = 1.01):
                    bet_size = 1 / line[pred_win + 1]
                    final_goal_diff = results1 - results2

                    if final_goal_diff == - line[0]:
                        event_list = [0, 0]
                        #event_list[pred_win] =  0
                        output_list.append(event_list)
                        date_list.append(match_time.date())
                        bet_size_list.append(bet_size)
                        match_live_dict[match_id]['last_bet_minute'] = match_minute
                        match_live_dict[match_id]['nbets'] += 1
                        match_live_dict[match_id]['last_type'] = pred_win
                        match_live_dict[match_id]['last_prob'] = pred_prob
                    elif pred_win.astype(bool) == (final_goal_diff + line[0] < 0):
                        event_list = [0, 0]
                        event_list[pred_win] =  bet_size * (line[pred_win + 1] - 1)
                        output_list.append(event_list)
                        date_list.append(match_time.date())
                        bet_size_list.append(bet_size)
                        match_live_dict[match_id]['last_bet_minute'] = match_minute
                        match_live_dict[match_id]['nbets'] += 1
                        match_live_dict[match_id]['last_type'] = pred_win
                        match_live_dict[match_id]['last_prob'] = pred_prob
                    else:
                        event_list = [0, 0]
                        event_list[pred_win] = -bet_size
                        output_list.append(event_list)
                        date_list.append(match_time.date())
                        bet_size_list.append(bet_size)
                        match_live_dict[match_id]['last_bet_minute'] = match_minute
                        match_live_dict[match_id]['nbets'] += 1
                        match_live_dict[match_id]['last_type'] = pred_win
                        match_live_dict[match_id]['last_prob'] = pred_prob

    layout_dict = {}
    data_list = []
    for hda, value_dict in hda_dict.items():
        if hda != 'all':
            data_list += [
                go.Scatter(
                    x = date_list,
                    y = np.cumsum(np.array(output_list)[:, value_dict['order']]),
                    name = hda,
                    line = dict(color = value_dict['colors'], width = value_dict['line_width'], dash = value_dict['ltype'])
                            )]
    cumsum_all = np.cumsum(np.sum(np.array(output_list), axis = 1))
    data_list += [
        go.Scatter(
            x = date_list,
            y = cumsum_all,
            name = 'all',
            line = dict(color = hda_dict['all']['colors'], width = hda_dict['all']['line_width'], dash = hda_dict['all']['ltype'])
                    )]

    title_text = f'<b>Handicap (cv)</b>  equity curve for strategie <b><i>{strategy_type}</i></b>' + \
        f'<br>Model in neptune.ai: FOOT-{neptune_model_version}<br>' + \
        f"ROI: {round(100 * cumsum_all[-1] / sum(bet_size_list), 2)}%" + \
        f' | Bet quantity: {len(output_list)}<br>'
    #dt_min = min(x_date[new_ard])
    #dt_max = max(x_date[new_ard])
    layout_dict.update({
    'width':1200,
    'height':800,
    #'title_x':0.5,
    'title_text':title_text,
    'paper_bgcolor':'rgb(229, 237, 247)',
    'plot_bgcolor':'rgb(229, 237, 247)',
    #'xaxis':{'range':[dt_min, dt_max]}
                    })
    layout = go.Layout(**layout_dict)
    return go.Figure(data=data_list, layout=layout) #, match_live_dict

In [ ]:
fig = plot_strategy(
    prob_dict,
    line_dict,
    results_dict,
    active_rows_dict,
    data_df,
    strategy_type = 'changes', #'changes', #'nbets' #'5minute'
    #neptune_model_version = neptune_model_version,
    #data_split = 'validation',
    #sel_best_dict = {'home':1.1465, 'draw':1.1465, 'away':1.1465}
)
fig.show()