<a href="https://colab.research.google.com/github/cappelchi/calcio_notebooks/blob/main/notebooks/draft/football_EDA_Graph_dataset_preparation_220918.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Downloads

### Installations

In [ ]:
#!pip install chart_studio

### Imports

In [ ]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 50
pd.options.display.max_rows = 100
print(pd.__version__)

from glob import glob
from tqdm import tqdm
import pickle
import functools

1.3.5

### Code

#### Load Dataset in DataFrame

In [ ]:
%%time
start_date = '2008-01-01'
end_date = '2022-09-05'
data_csv_list = ['./calcio/results_221002/' + str(dd).replace('-', '') + '.csv' 
                 for dd in pd.date_range(start=start_date, end=end_date).date]
data_df = pd.concat(map(functools.partial(pd.read_csv, sep=';', compression=None),data_csv_list), ignore_index = True)

CPU times: user 32.6 s, sys: 2.81 s, total: 35.5 s
Wall time: 35.4 s

In [ ]:
data_df.Id[data_df.Id == '4xtqmstjixo8392sildh47g9g'] = [id + str(cnt) for cnt, id in enumerate(data_df.Id[data_df.Id == '4xtqmstjixo8392sildh47g9g'])]
data_df.Id[data_df.Id == 'eaib9fp2qivl5t5jf5u5h3v9w'] = [id + str(cnt) for cnt, id in enumerate(data_df.Id[data_df.Id == 'eaib9fp2qivl5t5jf5u5h3v9w'])]

In [ ]:
data_df['timestamp'] = pd.to_datetime(data_df['BeginTime'], dayfirst = True).astype('int64') // 10**9

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  """Entry point for launching an IPython kernel.

In [ ]:
data_df[['date', 'times_ext']] = data_df['BeginTime'].str.split(expand = True)
data_df = data_df.drop(['BeginTime', 'times_ext'], axis = 'columns')

#### Refactoring DataFrame

In [ ]:
data_df['sum_score'] = data_df['Result1'] + data_df['Result2'] # Сумма голов в матче
# Приводим все счета к сумме мячей в матче не больше 10 (adj)
data_df['sum_score_k'] = [1 if score_k < 11 else score_k / 10 for score_k in data_df['sum_score']]
data_df['home_score_adj'] = (data_df['Result1'] / data_df['sum_score_k']).astype(int)
data_df['away_score_adj'] = (data_df['Result2'] / data_df['sum_score_k']).astype(int)
data_df['score_adj'] = data_df['home_score_adj'].astype(str) + '-' + data_df['away_score_adj'].astype(str)

### Code_dataset refactoring

#### Refactoring DataFrame

In [ ]:
winners_list = []
for hm, aw in tqdm(data_df[['Result1', 'Result2']].values):
    if hm > aw:
        winners_list.append('H')
    elif hm < aw:
        winners_list.append('A')
    else:
        winners_list.append('D')
data_df['Winner'] = winners_list

100%|██████████| 2682527/2682527 [00:03<00:00, 705480.36it/s]

In [ ]:
data_df.HomeId = data_df.HomeId.astype(int)
data_df.AwayId = data_df.AwayId.astype(int)

#### Расчитываем время прошедшее от прошлого матча и делаем словарик связей матчей

In [ ]:
#data_df['date'] = pd.to_datetime(data_df['date'])
data_df = data_df.sort_values(by = 'timestamp').reset_index(drop = True)
timestamp7days = 7 * 24 * 60 * 60

In [ ]:
team_GId_dict = {}
zero_diff = 0
for info in tqdm(
    zip(
        data_df.timestamp,
        data_df.HomeId,
        data_df.AwayId,
        data_df.Id,
    ),
    total=len(data_df),
                    ):
    time_stamp = info[0]
    homeID = info[1]
    awayID = info[2]
    matchID = info[3]
    # 1. Проверить если ID команды в словаре, если нет перейти к добавлению
    if homeID in team_GId_dict:
        # 2. Проверить время, если время позднее последнего добаления,
        # то можно просто присоединить снизу, инфо о последнем матче команды,
        # иначе перейти во вставку матча между матчами
        if matchID not in team_GId_dict[homeID]:
            if time_stamp >= team_GId_dict[homeID]["last_time"]:
                # 3. Добавление матча для команды в словарь
                previous_num = team_GId_dict[homeID]["last_index"]
                previous_time = team_GId_dict[homeID]["last_time"]
                # 4. Обновление блока последнего матча для команды
                team_GId_dict[homeID]["last_index"] = matchID
                team_GId_dict[homeID]["last_time"] = time_stamp
                # 3. Добавление матча для команды в словарь
                team_GId_dict[homeID].update(
                    {
                        matchID: [
                            previous_num,
                            time_stamp,
                        ]
                    }
                )
            else:
                zero_diff += 1
                # 5. Поиск точки вхождение для матча, который оказался не новым
                current_index = team_GId_dict[homeID]["last_index"]
                previous_match_time = team_GId_dict[homeID][current_index][1]
                previous_index = team_GId_dict[homeID][current_index][0]
                while (info[0] < previous_match_time) & (previous_index != -1):
                    current_index = previous_index
                    previous_index = team_GId_dict[homeID][previous_index][0]
                    previous_match_time = team_GId_dict[homeID][current_index][1]
                # 6. Вставка матча и обновление соседних 2 матчей
                team_GId_dict[homeID].update(
                    {matchID: [team_GId_dict[homeID][current_index][0], time_stamp]}
                )
                team_GId_dict[homeID].update(
                    {current_index: [matchID, time_stamp]}
                )

    else:
        # 3. Добавление матча для команды в словарь. Новая команда
        team_GId_dict[homeID] = {"last_index": info[3]}
        team_GId_dict[homeID].update({"last_time": time_stamp})
        team_GId_dict[homeID].update(
            {
                matchID: [
                    -1,
                    time_stamp - timestamp7days
                ]
            }
        )

    #############################################################################
    #############################################################################

    if awayID in team_GId_dict:
        # 2. Проверить время, если время позднее последнего добаления,
        # то можно просто присоединить снизу, инфо о последнем матче команды,
        # иначе перейти во вставку матча между матчами
        if matchID not in team_GId_dict[awayID]:
            if time_stamp >= team_GId_dict[awayID]["last_time"]:
                # 3. Добавление матча для команды в словарь
                previous_num = team_GId_dict[awayID]["last_index"]
                previous_time = team_GId_dict[awayID]["last_time"]
                # 4. Обновление блока последнего матча для команды
                team_GId_dict[awayID]["last_index"] = matchID
                team_GId_dict[awayID]["last_time"] = time_stamp
                # 3. Добавление матча для команды в словарь
                team_GId_dict[awayID].update(
                    {
                        matchID: [
                            previous_num,
                            time_stamp,
                        ]
                    }
                )
            else:
                zero_diff += 1
                # 5. Поиск точки вхождение для матча, который оказался не новым
                current_index = team_GId_dict[awayID]["last_index"]
                previous_match_time = team_GId_dict[awayID][current_index][1]
                previous_index = team_GId_dict[awayID][current_index][0]
                while (time_stamp < previous_match_time) & (previous_index != -1):
                    current_index = previous_index
                    previous_index = team_GId_dict[awayID][previous_index][0]
                    previous_match_time = team_GId_dict[awayID][current_index][1]
                # 6. Вставка матча и обновление соседних 2 матчей
                team_GId_dict[awayID].update(
                    {matchID: [team_GId_dict[awayID][current_index][0], time_stamp]}
                )
                team_GId_dict[awayID].update(
                    {current_index: [matchID, time_stamp]}
                )

    else:
        # 3. Добавление матча для команды в словарь. Новая команда
        team_GId_dict[awayID] = {"last_index": info[3]}
        team_GId_dict[awayID].update({"last_time": time_stamp})
        team_GId_dict[awayID].update(
            {
                matchID: [
                    -1,
                    time_stamp - timestamp7days
                ]
            }
        )

100%|██████████| 2682527/2682527 [00:28<00:00, 94979.29it/s]

#### Рассчитываем паузу между матчами

In [ ]:
data_df['team_rest_home'] = [team_GId_dict[team][idx][1] - team_GId_dict[team][team_GId_dict[team][idx][0]][1]
                             if team_GId_dict[team][idx][0] != -1 else timestamp7days
                             for team, idx in tqdm(zip(data_df.HomeId, data_df.Id), total = len(data_df))]
data_df['team_rest_away'] = [team_GId_dict[team][idx][1] - team_GId_dict[team][team_GId_dict[team][idx][0]][1]
                             if team_GId_dict[team][idx][0] != -1 else timestamp7days
                             for team, idx in tqdm(zip(data_df.AwayId, data_df.Id), total = len(data_df))]

100%|██████████| 2682527/2682527 [00:08<00:00, 312209.74it/s]
100%|██████████| 2682527/2682527 [00:08<00:00, 306756.08it/s]

In [ ]:
# Отдых команд разделяем на 3 группы
data_df['team_rest_home_adj'] = [0 if tm < 500_000 else 1 if tm < 1_000_000 else 2 for tm in data_df['team_rest_home']]
data_df['team_rest_away_adj'] = [0 if tm < 500_000 else 1 if tm < 1_000_000 else 2 for tm in data_df['team_rest_away']]

####Создание токенов-фичей score-home_away-пауза

In [ ]:
match_cat_dict = {}
cnt = 1

for home_score in range(11):
    for away_score in range(11):
        for home_place in range(2):
            for rest_time in range(3):
                for curr_home in range(2):
                    if (home_score + away_score) < 11:
                        match_cat_dict[
                            str(home_score) + '-' + \
                            str(away_score) + ':' + \
                            str(home_place) + ':' + \
                            str(rest_time) + ':' + \
                            str(curr_home)
                                        ] = cnt
                        cnt += 1

none_idx = 0 #max(match_cat_dict.values())

print(match_cat_dict)
print(len(match_cat_dict))
print('none_idx: ', none_idx)

{'0-0:0:0:0': 1, '0-0:0:0:1': 2, '0-0:0:1:0': 3, '0-0:0:1:1': 4, '0-0:0:2:0': 5, '0-0:0:2:1': 6, '0-0:1:0:0': 7, '0-0:1:0:1': 8, '0-0:1:1:0': 9, '0-0:1:1:1': 10, '0-0:1:2:0': 11, '0-0:1:2:1': 12, '0-1:0:0:0': 13, '0-1:0:0:1': 14, '0-1:0:1:0': 15, '0-1:0:1:1': 16, '0-1:0:2:0': 17, '0-1:0:2:1': 18, '0-1:1:0:0': 19, '0-1:1:0:1': 20, '0-1:1:1:0': 21, '0-1:1:1:1': 22, '0-1:1:2:0': 23, '0-1:1:2:1': 24, '0-2:0:0:0': 25, '0-2:0:0:1': 26, '0-2:0:1:0': 27, '0-2:0:1:1': 28, '0-2:0:2:0': 29, '0-2:0:2:1': 30, '0-2:1:0:0': 31, '0-2:1:0:1': 32, '0-2:1:1:0': 33, '0-2:1:1:1': 34, '0-2:1:2:0': 35, '0-2:1:2:1': 36, '0-3:0:0:0': 37, '0-3:0:0:1': 38, '0-3:0:1:0': 39, '0-3:0:1:1': 40, '0-3:0:2:0': 41, '0-3:0:2:1': 42, '0-3:1:0:0': 43, '0-3:1:0:1': 44, '0-3:1:1:0': 45, '0-3:1:1:1': 46, '0-3:1:2:0': 47, '0-3:1:2:1': 48, '0-4:0:0:0': 49, '0-4:0:0:1': 50, '0-4:0:1:0': 51, '0-4:0:1:1': 52, '0-4:0:2:0': 53, '0-4:0:2:1': 54, '0-4:1:0:0': 55, '0-4:1:0:1': 56, '0-4:1:1:0': 57, '0-4:1:1:1': 58, '0-4:1:2:0': 59, '0-4:1:2:1': 60, '0-5:0:0:0': 61, '0-5:0:0:1': 62, '0-5:0:1:0': 63, '0-5:0:1:1': 64, '0-5:0:2:0': 65, '0-5:0:2:1': 66, '0-5:1:0:0': 67, '0-5:1:0:1': 68, '0-5:1:1:0': 69, '0-5:1:1:1': 70, '0-5:1:2:0': 71, '0-5:1:2:1': 72, '0-6:0:0:0': 73, '0-6:0:0:1': 74, '0-6:0:1:0': 75, '0-6:0:1:1': 76, '0-6:0:2:0': 77, '0-6:0:2:1': 78, '0-6:1:0:0': 79, '0-6:1:0:1': 80, '0-6:1:1:0': 81, '0-6:1:1:1': 82, '0-6:1:2:0': 83, '0-6:1:2:1': 84, '0-7:0:0:0': 85, '0-7:0:0:1': 86, '0-7:0:1:0': 87, '0-7:0:1:1': 88, '0-7:0:2:0': 89, '0-7:0:2:1': 90, '0-7:1:0:0': 91, '0-7:1:0:1': 92, '0-7:1:1:0': 93, '0-7:1:1:1': 94, '0-7:1:2:0': 95, '0-7:1:2:1': 96, '0-8:0:0:0': 97, '0-8:0:0:1': 98, '0-8:0:1:0': 99, '0-8:0:1:1': 100, '0-8:0:2:0': 101, '0-8:0:2:1': 102, '0-8:1:0:0': 103, '0-8:1:0:1': 104, '0-8:1:1:0': 105, '0-8:1:1:1': 106, '0-8:1:2:0': 107, '0-8:1:2:1': 108, '0-9:0:0:0': 109, '0-9:0:0:1': 110, '0-9:0:1:0': 111, '0-9:0:1:1': 112, '0-9:0:2:0': 113, '0-9:0:2:1': 114, '0-9:1:0:0': 115, '0-9:1:0:1': 116, '0-9:1:1:0': 117, '0-9:1:1:1': 118, '0-9:1:2:0': 119, '0-9:1:2:1': 120, '0-10:0:0:0': 121, '0-10:0:0:1': 122, '0-10:0:1:0': 123, '0-10:0:1:1': 124, '0-10:0:2:0': 125, '0-10:0:2:1': 126, '0-10:1:0:0': 127, '0-10:1:0:1': 128, '0-10:1:1:0': 129, '0-10:1:1:1': 130, '0-10:1:2:0': 131, '0-10:1:2:1': 132, '1-0:0:0:0': 133, '1-0:0:0:1': 134, '1-0:0:1:0': 135, '1-0:0:1:1': 136, '1-0:0:2:0': 137, '1-0:0:2:1': 138, '1-0:1:0:0': 139, '1-0:1:0:1': 140, '1-0:1:1:0': 141, '1-0:1:1:1': 142, '1-0:1:2:0': 143, '1-0:1:2:1': 144, '1-1:0:0:0': 145, '1-1:0:0:1': 146, '1-1:0:1:0': 147, '1-1:0:1:1': 148, '1-1:0:2:0': 149, '1-1:0:2:1': 150, '1-1:1:0:0': 151, '1-1:1:0:1': 152, '1-1:1:1:0': 153, '1-1:1:1:1': 154, '1-1:1:2:0': 155, '1-1:1:2:1': 156, '1-2:0:0:0': 157, '1-2:0:0:1': 158, '1-2:0:1:0': 159, '1-2:0:1:1': 160, '1-2:0:2:0': 161, '1-2:0:2:1': 162, '1-2:1:0:0': 163, '1-2:1:0:1': 164, '1-2:1:1:0': 165, '1-2:1:1:1': 166, '1-2:1:2:0': 167, '1-2:1:2:1': 168, '1-3:0:0:0': 169, '1-3:0:0:1': 170, '1-3:0:1:0': 171, '1-3:0:1:1': 172, '1-3:0:2:0': 173, '1-3:0:2:1': 174, '1-3:1:0:0': 175, '1-3:1:0:1': 176, '1-3:1:1:0': 177, '1-3:1:1:1': 178, '1-3:1:2:0': 179, '1-3:1:2:1': 180, '1-4:0:0:0': 181, '1-4:0:0:1': 182, '1-4:0:1:0': 183, '1-4:0:1:1': 184, '1-4:0:2:0': 185, '1-4:0:2:1': 186, '1-4:1:0:0': 187, '1-4:1:0:1': 188, '1-4:1:1:0': 189, '1-4:1:1:1': 190, '1-4:1:2:0': 191, '1-4:1:2:1': 192, '1-5:0:0:0': 193, '1-5:0:0:1': 194, '1-5:0:1:0': 195, '1-5:0:1:1': 196, '1-5:0:2:0': 197, '1-5:0:2:1': 198, '1-5:1:0:0': 199, '1-5:1:0:1': 200, '1-5:1:1:0': 201, '1-5:1:1:1': 202, '1-5:1:2:0': 203, '1-5:1:2:1': 204, '1-6:0:0:0': 205, '1-6:0:0:1': 206, '1-6:0:1:0': 207, '1-6:0:1:1': 208, '1-6:0:2:0': 209, '1-6:0:2:1': 210, '1-6:1:0:0': 211, '1-6:1:0:1': 212, '1-6:1:1:0': 213, '1-6:1:1:1': 214, '1-6:1:2:0': 215, '1-6:1:2:1': 216, '1-7:0:0:0': 217, '1-7:0:0:1': 218, '1-7:0:1:0': 219, '1-7:0:1:1': 220, '1-7:0:2:0': 221, '1-7:0:2:1': 222, '1-7:1:0:0': 223, '1-7:1:0:1': 224, '1-7:1:1:0': 225, '1-7:1:1:1': 226, '1-7:1:2:0': 227, '1-7:1:2:1': 228, '1-8:0:0:0': 229, '1-8:0:0:1': 230, '1-8:0:1:0': 231, '1-8:0:1:1': 232, '1-8:0:2:0': 233, '1-8:0:2:1': 234, '1-8:1:0:0': 235, '1-8:1:0:1': 236, '1-8:1:1:0': 237, '1-8:1:1:1': 238, '1-8:1:2:0': 239, '1-8:1:2:1': 240, '1-9:0:0:0': 241, '1-9:0:0:1': 242, '1-9:0:1:0': 243, '1-9:0:1:1': 244, '1-9:0:2:0': 245, '1-9:0:2:1': 246, '1-9:1:0:0': 247, '1-9:1:0:1': 248, '1-9:1:1:0': 249, '1-9:1:1:1': 250, '1-9:1:2:0': 251, '1-9:1:2:1': 252, '2-0:0:0:0': 253, '2-0:0:0:1': 254, '2-0:0:1:0': 255, '2-0:0:1:1': 256, '2-0:0:2:0': 257, '2-0:0:2:1': 258, '2-0:1:0:0': 259, '2-0:1:0:1': 260, '2-0:1:1:0': 261, '2-0:1:1:1': 262, '2-0:1:2:0': 263, '2-0:1:2:1': 264, '2-1:0:0:0': 265, '2-1:0:0:1': 266, '2-1:0:1:0': 267, '2-1:0:1:1': 268, '2-1:0:2:0': 269, '2-1:0:2:1': 270, '2-1:1:0:0': 271, '2-1:1:0:1': 272, '2-1:1:1:0': 273, '2-1:1:1:1': 274, '2-1:1:2:0': 275, '2-1:1:2:1': 276, '2-2:0:0:0': 277, '2-2:0:0:1': 278, '2-2:0:1:0': 279, '2-2:0:1:1': 280, '2-2:0:2:0': 281, '2-2:0:2:1': 282, '2-2:1:0:0': 283, '2-2:1:0:1': 284, '2-2:1:1:0': 285, '2-2:1:1:1': 286, '2-2:1:2:0': 287, '2-2:1:2:1': 288, '2-3:0:0:0': 289, '2-3:0:0:1': 290, '2-3:0:1:0': 291, '2-3:0:1:1': 292, '2-3:0:2:0': 293, '2-3:0:2:1': 294, '2-3:1:0:0': 295, '2-3:1:0:1': 296, '2-3:1:1:0': 297, '2-3:1:1:1': 298, '2-3:1:2:0': 299, '2-3:1:2:1': 300, '2-4:0:0:0': 301, '2-4:0:0:1': 302, '2-4:0:1:0': 303, '2-4:0:1:1': 304, '2-4:0:2:0': 305, '2-4:0:2:1': 306, '2-4:1:0:0': 307, '2-4:1:0:1': 308, '2-4:1:1:0': 309, '2-4:1:1:1': 310, '2-4:1:2:0': 311, '2-4:1:2:1': 312, '2-5:0:0:0': 313, '2-5:0:0:1': 314, '2-5:0:1:0': 315, '2-5:0:1:1': 316, '2-5:0:2:0': 317, '2-5:0:2:1': 318, '2-5:1:0:0': 319, '2-5:1:0:1': 320, '2-5:1:1:0': 321, '2-5:1:1:1': 322, '2-5:1:2:0': 323, '2-5:1:2:1': 324, '2-6:0:0:0': 325, '2-6:0:0:1': 326, '2-6:0:1:0': 327, '2-6:0:1:1': 328, '2-6:0:2:0': 329, '2-6:0:2:1': 330, '2-6:1:0:0': 331, '2-6:1:0:1': 332, '2-6:1:1:0': 333, '2-6:1:1:1': 334, '2-6:1:2:0': 335, '2-6:1:2:1': 336, '2-7:0:0:0': 337, '2-7:0:0:1': 338, '2-7:0:1:0': 339, '2-7:0:1:1': 340, '2-7:0:2:0': 341, '2-7:0:2:1': 342, '2-7:1:0:0': 343, '2-7:1:0:1': 344, '2-7:1:1:0': 345, '2-7:1:1:1': 346, '2-7:1:2:0': 347, '2-7:1:2:1': 348, '2-8:0:0:0': 349, '2-8:0:0:1': 350, '2-8:0:1:0': 351, '2-8:0:1:1': 352, '2-8:0:2:0': 353, '2-8:0:2:1': 354, '2-8:1:0:0': 355, '2-8:1:0:1': 356, '2-8:1:1:0': 357, '2-8:1:1:1': 358, '2-8:1:2:0': 359, '2-8:1:2:1': 360, '3-0:0:0:0': 361, '3-0:0:0:1': 362, '3-0:0:1:0': 363, '3-0:0:1:1': 364, '3-0:0:2:0': 365, '3-0:0:2:1': 366, '3-0:1:0:0': 367, '3-0:1:0:1': 368, '3-0:1:1:0': 369, '3-0:1:1:1': 370, '3-0:1:2:0': 371, '3-0:1:2:1': 372, '3-1:0:0:0': 373, '3-1:0:0:1': 374, '3-1:0:1:0': 375, '3-1:0:1:1': 376, '3-1:0:2:0': 377, '3-1:0:2:1': 378, '3-1:1:0:0': 379, '3-1:1:0:1': 380, '3-1:1:1:0': 381, '3-1:1:1:1': 382, '3-1:1:2:0': 383, '3-1:1:2:1': 384, '3-2:0:0:0': 385, '3-2:0:0:1': 386, '3-2:0:1:0': 387, '3-2:0:1:1': 388, '3-2:0:2:0': 389, '3-2:0:2:1': 390, '3-2:1:0:0': 391, '3-2:1:0:1': 392, '3-2:1:1:0': 393, '3-2:1:1:1': 394, '3-2:1:2:0': 395, '3-2:1:2:1': 396, '3-3:0:0:0': 397, '3-3:0:0:1': 398, '3-3:0:1:0': 399, '3-3:0:1:1': 400, '3-3:0:2:0': 401, '3-3:0:2:1': 402, '3-3:1:0:0': 403, '3-3:1:0:1': 404, '3-3:1:1:0': 405, '3-3:1:1:1': 406, '3-3:1:2:0': 407, '3-3:1:2:1': 408, '3-4:0:0:0': 409, '3-4:0:0:1': 410, '3-4:0:1:0': 411, '3-4:0:1:1': 412, '3-4:0:2:0': 413, '3-4:0:2:1': 414, '3-4:1:0:0': 415, '3-4:1:0:1': 416, '3-4:1:1:0': 417, '3-4:1:1:1': 418, '3-4:1:2:0': 419, '3-4:1:2:1': 420, '3-5:0:0:0': 421, '3-5:0:0:1': 422, '3-5:0:1:0': 423, '3-5:0:1:1': 424, '3-5:0:2:0': 425, '3-5:0:2:1': 426, '3-5:1:0:0': 427, '3-5:1:0:1': 428, '3-5:1:1:0': 429, '3-5:1:1:1': 430, '3-5:1:2:0': 431, '3-5:1:2:1': 432, '3-6:0:0:0': 433, '3-6:0:0:1': 434, '3-6:0:1:0': 435, '3-6:0:1:1': 436, '3-6:0:2:0': 437, '3-6:0:2:1': 438, '3-6:1:0:0': 439, '3-6:1:0:1': 440, '3-6:1:1:0': 441, '3-6:1:1:1': 442, '3-6:1:2:0': 443, '3-6:1:2:1': 444, '3-7:0:0:0': 445, '3-7:0:0:1': 446, '3-7:0:1:0': 447, '3-7:0:1:1': 448, '3-7:0:2:0': 449, '3-7:0:2:1': 450, '3-7:1:0:0': 451, '3-7:1:0:1': 452, '3-7:1:1:0': 453, '3-7:1:1:1': 454, '3-7:1:2:0': 455, '3-7:1:2:1': 456, '4-0:0:0:0': 457, '4-0:0:0:1': 458, '4-0:0:1:0': 459, '4-0:0:1:1': 460, '4-0:0:2:0': 461, '4-0:0:2:1': 462, '4-0:1:0:0': 463, '4-0:1:0:1': 464, '4-0:1:1:0': 465, '4-0:1:1:1': 466, '4-0:1:2:0': 467, '4-0:1:2:1': 468, '4-1:0:0:0': 469, '4-1:0:0:1': 470, '4-1:0:1:0': 471, '4-1:0:1:1': 472, '4-1:0:2:0': 473, '4-1:0:2:1': 474, '4-1:1:0:0': 475, '4-1:1:0:1': 476, '4-1:1:1:0': 477, '4-1:1:1:1': 478, '4-1:1:2:0': 479, '4-1:1:2:1': 480, '4-2:0:0:0': 481, '4-2:0:0:1': 482, '4-2:0:1:0': 483, '4-2:0:1:1': 484, '4-2:0:2:0': 485, '4-2:0:2:1': 486, '4-2:1:0:0': 487, '4-2:1:0:1': 488, '4-2:1:1:0': 489, '4-2:1:1:1': 490, '4-2:1:2:0': 491, '4-2:1:2:1': 492, '4-3:0:0:0': 493, '4-3:0:0:1': 494, '4-3:0:1:0': 495, '4-3:0:1:1': 496, '4-3:0:2:0': 497, '4-3:0:2:1': 498, '4-3:1:0:0': 499, '4-3:1:0:1': 500, '4-3:1:1:0': 501, '4-3:1:1:1': 502, '4-3:1:2:0': 503, '4-3:1:2:1': 504, '4-4:0:0:0': 505, '4-4:0:0:1': 506, '4-4:0:1:0': 507, '4-4:0:1:1': 508, '4-4:0:2:0': 509, '4-4:0:2:1': 510, '4-4:1:0:0': 511, '4-4:1:0:1': 512, '4-4:1:1:0': 513, '4-4:1:1:1': 514, '4-4:1:2:0': 515, '4-4:1:2:1': 516, '4-5:0:0:0': 517, '4-5:0:0:1': 518, '4-5:0:1:0': 519, '4-5:0:1:1': 520, '4-5:0:2:0': 521, '4-5:0:2:1': 522, '4-5:1:0:0': 523, '4-5:1:0:1': 524, '4-5:1:1:0': 525, '4-5:1:1:1': 526, '4-5:1:2:0': 527, '4-5:1:2:1': 528, '4-6:0:0:0': 529, '4-6:0:0:1': 530, '4-6:0:1:0': 531, '4-6:0:1:1': 532, '4-6:0:2:0': 533, '4-6:0:2:1': 534, '4-6:1:0:0': 535, '4-6:1:0:1': 536, '4-6:1:1:0': 537, '4-6:1:1:1': 538, '4-6:1:2:0': 539, '4-6:1:2:1': 540, '5-0:0:0:0': 541, '5-0:0:0:1': 542, '5-0:0:1:0': 543, '5-0:0:1:1': 544, '5-0:0:2:0': 545, '5-0:0:2:1': 546, '5-0:1:0:0': 547, '5-0:1:0:1': 548, '5-0:1:1:0': 549, '5-0:1:1:1': 550, '5-0:1:2:0': 551, '5-0:1:2:1': 552, '5-1:0:0:0': 553, '5-1:0:0:1': 554, '5-1:0:1:0': 555, '5-1:0:1:1': 556, '5-1:0:2:0': 557, '5-1:0:2:1': 558, '5-1:1:0:0': 559, '5-1:1:0:1': 560, '5-1:1:1:0': 561, '5-1:1:1:1': 562, '5-1:1:2:0': 563, '5-1:1:2:1': 564, '5-2:0:0:0': 565, '5-2:0:0:1': 566, '5-2:0:1:0': 567, '5-2:0:1:1': 568, '5-2:0:2:0': 569, '5-2:0:2:1': 570, '5-2:1:0:0': 571, '5-2:1:0:1': 572, '5-2:1:1:0': 573, '5-2:1:1:1': 574, '5-2:1:2:0': 575, '5-2:1:2:1': 576, '5-3:0:0:0': 577, '5-3:0:0:1': 578, '5-3:0:1:0': 579, '5-3:0:1:1': 580, '5-3:0:2:0': 581, '5-3:0:2:1': 582, '5-3:1:0:0': 583, '5-3:1:0:1': 584, '5-3:1:1:0': 585, '5-3:1:1:1': 586, '5-3:1:2:0': 587, '5-3:1:2:1': 588, '5-4:0:0:0': 589, '5-4:0:0:1': 590, '5-4:0:1:0': 591, '5-4:0:1:1': 592, '5-4:0:2:0': 593, '5-4:0:2:1': 594, '5-4:1:0:0': 595, '5-4:1:0:1': 596, '5-4:1:1:0': 597, '5-4:1:1:1': 598, '5-4:1:2:0': 599, '5-4:1:2:1': 600, '5-5:0:0:0': 601, '5-5:0:0:1': 602, '5-5:0:1:0': 603, '5-5:0:1:1': 604, '5-5:0:2:0': 605, '5-5:0:2:1': 606, '5-5:1:0:0': 607, '5-5:1:0:1': 608, '5-5:1:1:0': 609, '5-5:1:1:1': 610, '5-5:1:2:0': 611, '5-5:1:2:1': 612, '6-0:0:0:0': 613, '6-0:0:0:1': 614, '6-0:0:1:0': 615, '6-0:0:1:1': 616, '6-0:0:2:0': 617, '6-0:0:2:1': 618, '6-0:1:0:0': 619, '6-0:1:0:1': 620, '6-0:1:1:0': 621, '6-0:1:1:1': 622, '6-0:1:2:0': 623, '6-0:1:2:1': 624, '6-1:0:0:0': 625, '6-1:0:0:1': 626, '6-1:0:1:0': 627, '6-1:0:1:1': 628, '6-1:0:2:0': 629, '6-1:0:2:1': 630, '6-1:1:0:0': 631, '6-1:1:0:1': 632, '6-1:1:1:0': 633, '6-1:1:1:1': 634, '6-1:1:2:0': 635, '6-1:1:2:1': 636, '6-2:0:0:0': 637, '6-2:0:0:1': 638, '6-2:0:1:0': 639, '6-2:0:1:1': 640, '6-2:0:2:0': 641, '6-2:0:2:1': 642, '6-2:1:0:0': 643, '6-2:1:0:1': 644, '6-2:1:1:0': 645, '6-2:1:1:1': 646, '6-2:1:2:0': 647, '6-2:1:2:1': 648, '6-3:0:0:0': 649, '6-3:0:0:1': 650, '6-3:0:1:0': 651, '6-3:0:1:1': 652, '6-3:0:2:0': 653, '6-3:0:2:1': 654, '6-3:1:0:0': 655, '6-3:1:0:1': 656, '6-3:1:1:0': 657, '6-3:1:1:1': 658, '6-3:1:2:0': 659, '6-3:1:2:1': 660, '6-4:0:0:0': 661, '6-4:0:0:1': 662, '6-4:0:1:0': 663, '6-4:0:1:1': 664, '6-4:0:2:0': 665, '6-4:0:2:1': 666, '6-4:1:0:0': 667, '6-4:1:0:1': 668, '6-4:1:1:0': 669, '6-4:1:1:1': 670, '6-4:1:2:0': 671, '6-4:1:2:1': 672, '7-0:0:0:0': 673, '7-0:0:0:1': 674, '7-0:0:1:0': 675, '7-0:0:1:1': 676, '7-0:0:2:0': 677, '7-0:0:2:1': 678, '7-0:1:0:0': 679, '7-0:1:0:1': 680, '7-0:1:1:0': 681, '7-0:1:1:1': 682, '7-0:1:2:0': 683, '7-0:1:2:1': 684, '7-1:0:0:0': 685, '7-1:0:0:1': 686, '7-1:0:1:0': 687, '7-1:0:1:1': 688, '7-1:0:2:0': 689, '7-1:0:2:1': 690, '7-1:1:0:0': 691, '7-1:1:0:1': 692, '7-1:1:1:0': 693, '7-1:1:1:1': 694, '7-1:1:2:0': 695, '7-1:1:2:1': 696, '7-2:0:0:0': 697, '7-2:0:0:1': 698, '7-2:0:1:0': 699, '7-2:0:1:1': 700, '7-2:0:2:0': 701, '7-2:0:2:1': 702, '7-2:1:0:0': 703, '7-2:1:0:1': 704, '7-2:1:1:0': 705, '7-2:1:1:1': 706, '7-2:1:2:0': 707, '7-2:1:2:1': 708, '7-3:0:0:0': 709, '7-3:0:0:1': 710, '7-3:0:1:0': 711, '7-3:0:1:1': 712, '7-3:0:2:0': 713, '7-3:0:2:1': 714, '7-3:1:0:0': 715, '7-3:1:0:1': 716, '7-3:1:1:0': 717, '7-3:1:1:1': 718, '7-3:1:2:0': 719, '7-3:1:2:1': 720, '8-0:0:0:0': 721, '8-0:0:0:1': 722, '8-0:0:1:0': 723, '8-0:0:1:1': 724, '8-0:0:2:0': 725, '8-0:0:2:1': 726, '8-0:1:0:0': 727, '8-0:1:0:1': 728, '8-0:1:1:0': 729, '8-0:1:1:1': 730, '8-0:1:2:0': 731, '8-0:1:2:1': 732, '8-1:0:0:0': 733, '8-1:0:0:1': 734, '8-1:0:1:0': 735, '8-1:0:1:1': 736, '8-1:0:2:0': 737, '8-1:0:2:1': 738, '8-1:1:0:0': 739, '8-1:1:0:1': 740, '8-1:1:1:0': 741, '8-1:1:1:1': 742, '8-1:1:2:0': 743, '8-1:1:2:1': 744, '8-2:0:0:0': 745, '8-2:0:0:1': 746, '8-2:0:1:0': 747, '8-2:0:1:1': 748, '8-2:0:2:0': 749, '8-2:0:2:1': 750, '8-2:1:0:0': 751, '8-2:1:0:1': 752, '8-2:1:1:0': 753, '8-2:1:1:1': 754, '8-2:1:2:0': 755, '8-2:1:2:1': 756, '9-0:0:0:0': 757, '9-0:0:0:1': 758, '9-0:0:1:0': 759, '9-0:0:1:1': 760, '9-0:0:2:0': 761, '9-0:0:2:1': 762, '9-0:1:0:0': 763, '9-0:1:0:1': 764, '9-0:1:1:0': 765, '9-0:1:1:1': 766, '9-0:1:2:0': 767, '9-0:1:2:1': 768, '9-1:0:0:0': 769, '9-1:0:0:1': 770, '9-1:0:1:0': 771, '9-1:0:1:1': 772, '9-1:0:2:0': 773, '9-1:0:2:1': 774, '9-1:1:0:0': 775, '9-1:1:0:1': 776, '9-1:1:1:0': 777, '9-1:1:1:1': 778, '9-1:1:2:0': 779, '9-1:1:2:1': 780, '10-0:0:0:0': 781, '10-0:0:0:1': 782, '10-0:0:1:0': 783, '10-0:0:1:1': 784, '10-0:0:2:0': 785, '10-0:0:2:1': 786, '10-0:1:0:0': 787, '10-0:1:0:1': 788, '10-0:1:1:0': 789, '10-0:1:1:1': 790, '10-0:1:2:0': 791, '10-0:1:2:1': 792}
792
none_idx:  0

In [ ]:
input_list = []
for info in tqdm(data_df['score_adj'], total = len(data_df)):
    cat_key = info + ':' + '0'
    input_list.append(cat_key)
data_df['home_idx'] = input_list

100%|██████████| 2682527/2682527 [00:01<00:00, 1445353.45it/s]

In [ ]:
input_list = []
for info in tqdm(data_df['score_adj'], total = len(data_df)):
    cat_key = info + ':' + '1'
    input_list.append(cat_key)
data_df['away_idx'] = input_list

100%|██████████| 2682527/2682527 [00:01<00:00, 1411118.92it/s]

In [ ]:
for info in tqdm(zip(data_df.HomeId, data_df.AwayId, data_df.Id, data_df.home_idx, data_df.away_idx), total = len(data_df)):
    homeID = info[0]
    awayID = info[1]
    matchID = info[2]
    homeIDX = info[3]
    awayIDX = info[4]
    team_GId_dict[homeID][matchID] += [homeIDX]
    team_GId_dict[awayID][matchID] += [awayIDX]

100%|██████████| 2682527/2682527 [00:12<00:00, 221125.18it/s]

#### Шифтуем токен на один уровень вверх

In [ ]:
input_list = []
for gid, haid, rest in tqdm(
    zip(data_df.Id.values, data_df.HomeId, data_df.team_rest_home_adj),
    total = len(data_df)):
    prev_id = team_GId_dict[haid][gid][0]
    if prev_id == -1:
        input_list.append(none_idx)
    else:
        key = team_GId_dict[haid][prev_id][2] + ':' + \
        str(rest) + ':' + '0'
        input_list.append(match_cat_dict[key])
data_df['home_token'] = input_list

100%|██████████| 2682527/2682527 [00:10<00:00, 259709.63it/s]

In [ ]:
input_list = []
for gid, haid, rest in tqdm(
    zip(data_df.Id.values, data_df.AwayId, data_df.team_rest_away_adj),
    total = len(data_df)):
    prev_id = team_GId_dict[haid][gid][0]
    if prev_id == -1:
        input_list.append(none_idx)
    else:
        key = team_GId_dict[haid][prev_id][2] + ':' + \
        str(rest) + ':' + '1' 
        input_list.append(match_cat_dict[key])
data_df['away_token'] = input_list

100%|██████████| 2682527/2682527 [00:10<00:00, 258148.34it/s]

In [ ]:
#node_df_columns = ['id'] + [str(x) for x in range(none_idx + 1)]
#node_df = pd.DataFrame(columns = node_df_columns)

####Создаем файлы вершин, рёбер и конверсий

In [ ]:
id_dict = {}
#cnt = len(data_df) - 1 #обратный порядок
cnt = 0
for id, hid, aid, ts in tqdm(zip(
    data_df['Id'].values, 
    data_df['HomeId'].values, 
    data_df['AwayId'].values,
    data_df['timestamp'].values
                                ), total = len(data_df)):
    hidx = str(hid) + '_' + id
    aidx = str(aid) + '_' + id
    id_dict[hidx] = [cnt * 2, ts]
    id_dict[aidx] = [cnt * 2 + 1, ts]
    #cnt -= 1 #обратный порядок
    cnt +=1

100%|██████████| 2682527/2682527 [00:19<00:00, 137893.44it/s]

In [ ]:
edges_df = pd.DataFrame(columns = ['source', 'target'])

In [ ]:
#обратный порядок
#edges_df['source'] = [edge * 2 for edge in range(len(data_df) - 1, -1, -1)] #data_df['HomeId'].astype(str) + '_' + data_df['Id']
#edges_df['target'] = [edge * 2 + 1 for edge in range(len(data_df) - 1, -1, -1)] #data_df['AwayId'].astype(str) + '_' + data_df['Id']
#прямой порядок
edges_df['source'] = [edge * 2 for edge in range(len(data_df))]
edges_df['target'] = [edge * 2 + 1 for edge in range(len(data_df))]

In [ ]:
match_conection_list = []
for team, team_dict in tqdm(team_GId_dict.items(), total = len(team_GId_dict)):
    #print(team)
    #print(team_dict)
    last_index = team_dict['last_index']
    cnt = 0
    while team_dict[last_index][0] != -1:
        #print(str(team) + '_' + team_dict[last_index][0] + '_:_' +  str(team) + '_' + last_index)
        source_team = str(team) + '_' + team_dict[last_index][0]
        target_team = str(team) + '_' + last_index
        source_team_idx = id_dict[source_team][0]
        target_team_idx = id_dict[target_team][0]
        match_conection_list.append([source_team_idx, target_team_idx])
        #match_conection_list.append([target_team_idx, source_team_idx])
        last_index = team_dict[last_index][0]
        cnt +=1
        if cnt > 1_100:
            print('Cycled_graph')
            print('Team: ', team)

100%|██████████| 49761/49761 [00:27<00:00, 1801.24it/s]

In [ ]:
pd.concat([
    edges_df, 
    pd.DataFrame(np.flip(edges_df.values, axis = 1), columns = ['source', 'target']),
    pd.DataFrame(match_conection_list, columns = ['source', 'target'])
    ]).to_csv('edges.csv.gz', index = False, compression ={'method':'gzip'})

In [ ]:
data_df['binary_output'] = 0
data_df['binary_output'][data_df['Winner'] == 'H'] = 1
data_df['class_H'] = 0
data_df['class_D'] = 0
data_df['class_A'] = 0
data_df['class_H'][data_df['Winner'] == 'H'] = 1
data_df['class_D'][data_df['Winner'] == 'D'] = 1
data_df['class_A'][data_df['Winner'] == 'A'] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data_df

,Id,Home,Away,League,Country,Type,Result1,Result2,Periods,HomeId,AwayId,LeagueId,Season,Round,timestamp,date,sum_score,sum_score_k,home_score_adj,away_score_adj,score_adj,Winner,team_rest_home,team_rest_away,team_rest_home_adj,team_rest_away_adj,home_idx,away_idx,home_token,away_token,binary_output,class_H,class_D,class_A
0,2rxecbv07olakwt1zbh52dihh,Al Zawra'a,Al Sinaah,iraq - iraqi league,iraq,NaN,1,0,NaN,3848,8382,r5750,2007-2008,group-stage,1199152800,01.01.2008,1,1.0,1,0,1-0,H,604800,604800,1,1,1-0:0,1-0:1,0,0,1,1,0,0
1,4l0rplzz4qo3zinjb6umuetw5,Bnot Tivon,Hapoel Petach Tikva,israel - ligat al women,israel,w,0,0,NaN,10064,10063,r5721,2007-2008,regular-season,1199152800,01.01.2008,0,1.0,0,0,0-0,D,604800,604800,1,1,0-0:0,0-0:1,0,0,0,0,1,0
2,4kr1zx14kau8doo5fgkh2dc5x,Maccabi Kishronot Hadera,ASA Tel Aviv,israel - ligat al women,israel,w,0,3,NaN,10065,10059,r5721,2007-2008,regular-season,1199152800,01.01.2008,3,1.0,0,3,0-3,A,604800,604800,1,1,0-3:0,0-3:1,0,0,0,0,0,1
3,4kiofd3uilp1k12wrmblq2o5x,Hapoel Rishon LeZion,Ironi Ramat HaSharon,israel - ligat al women,israel,w,0,5,NaN,10061,23303,r5721,2007-2008,regular-season,1199152800,01.01.2008,5,1.0,0,5,0-5,A,604800,604800,1,1,0-5:0,0-5:1,0,0,0,0,0,1
4,4k9mtsryqbsxeydo4h5sm97md,Maccabi Be'er Sheva Li,Bnot Sakhnin,israel - ligat al women,israel,w,4,0,NaN,10060,10057,r5721,2007-2008,regular-season,1199152800,01.01.2008,4,1.0,4,0,4-0,H,604800,604800,1,1,4-0:0,4-0:1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682522,9llqpuftwy5k4f20kwi7v2cd0,Zabbar St. Patrick,Kalkara,malta - national amateur league,malta,NaN,1,0,NaN,3056,22648,r68592,20222023,regular-season,1662416100,05.09.2022,1,1.0,1,0,1-0,H,787500,778500,1,1,1-0:0,1-0:1,57,256,1,1,0,0
2682523,5rfb10yome9157s22g4cax2qc,FAR Rabat,RSB Berkane,morocco - botola pro,morocco,NaN,1,1,NaN,3463,7512,r71423,20222023,regular-season,1662417000,05.09.2022,2,1.0,1,1,1-1,D,263700,345600,0,0,1-1:0,1-1:1,19,14,0,0,1,0
2682524,rmc4gmil9oi8fn8cvh5f8vtg,CDC Manicoré,Atlético Amazonense,brazil - amazonense women,brazil,w,2,2,NaN,57046,59567,r67381,2022,1st-phase,1662418800,05.09.2022,4,1.0,2,2,2-2,D,781200,802800,1,1,2-2:0,2-2:1,765,40,0,0,1,0
2682525,bfc93t0bmbrpxsan16rjzitqs,Chaves,Rio Ave,portugal - primeira liga,portugal,NaN,1,1,NaN,1704,1683,r69322,20222023,regular-season,1662419700,05.09.2022,2,1.0,1,1,1-1,D,780300,693900,1,1,1-1:0,1-1:1,33,376,0,0,1,0
2682526,3fmmcgjiymodqyymxevutxjis,Deportivo Binacional,Alianza Atlético,peru - primera división,peru,NaN,2,0,NaN,23494,1632,r66955,2022,clausura,1662420600,05.09.2022,2,1.0,2,0,2-0,H,700200,707400,1,1,2-0:0,2-0:1,381,136,1,1,0,0

In [ ]:
#cnt = 0
#cnt = len(data_df) - 1 #обратный порядок
cnt = 0
node_list = []
for htoken, atoken, bo, h, d, a, id in tqdm(zip(
    data_df['home_token'], 
    data_df['away_token'],
    data_df['binary_output'],
    data_df['class_H'],
    data_df['class_D'],
    data_df['class_A'],
    data_df['Id']
                                ), total = len(data_df)):
    node_list.append([cnt * 2, htoken, bo, h, d, a, id])
    node_list.append([cnt * 2 + 1, atoken, int(not(bo)), a, d, h, id])
    #cnt -= 1 #обратны порядок
    cnt +=1
pd.DataFrame(node_list).to_csv('nodes.csv.gz', index = False, compression ={'method':'gzip'})

100%|██████████| 2682527/2682527 [00:12<00:00, 213322.44it/s]

In [ ]:
pd.DataFrame.from_dict(
            id_dict, 
            orient = 'index', 
            columns = ['token', 'timestamp']
                        ).reset_index().to_csv(
                'conversion.csv.gz', 
                index = False, 
                compression ={'method':'gzip'}
                                                )

####Выгружаем в Нептун

In [ ]:
!pip install neptune-client

In [ ]:
import neptune.new as neptune
#from neptune.new.integrations.tensorflow_keras import NeptuneCallback
def get_credential(frmwork = 'neptune_team'):
    with open('cred_andrey.txt', 'r') as container:
        for line in container:
            if frmwork in line:
                login, psw = line.split(' ')[1], line.split(' ')[2].split('\n')[0]
                return login, psw

In [ ]:
data_version = 'data_graph_221019/'
username, api_key = get_credential()
upload = True
if upload:
    project = neptune.init_project(
        name="scomesse/football", 
        api_token = api_key
        )
    
    #project[data_version + 'nodes'].upload('./nodes.csv.gz')
    project[data_version + 'edges_rev'].upload('./edges_rev.csv.gz')
    #project[data_version + 'conversion'].upload('./conversion.csv.gz')

    project.stop()

https://app.neptune.ai/scomesse/football/
Remember to stop your project once you’ve finished logging your metadata (https://docs.neptune.ai/api/project#stop). It will be stopped automatically only when the notebook kernel/interactive console is terminated.
Shutting down background jobs, please wait a moment...
Done!
Waiting for the remaining 1 operations to synchronize with Neptune. Do not kill this process.
All 1 operations synced, thanks for waiting!
Explore the metadata in the Neptune app:
https://app.neptune.ai/scomesse/football/metadata

####snap-stanford

In [ ]:
#!pip install snap-stanford

In [ ]:
import snap
S = snap.TNGraph.New()

In [ ]:
nodes_qty = 500_000
for node in range(nodes_qty):
    S.AddNode(node)

In [ ]:
edges_df = pd.read_csv('./edges.csv.gz')

In [ ]:
for row in tqdm(edges_df.values, total = len(edges_df)):
    if S.IsNode(int(row[0])) & S.IsNode(int(row[1])):
        if not(S.IsEdge(int(row[0]), int(row[1]))):
            S.AddEdge(int(row[0]), int(row[1]))

In [ ]:
%%time
snap.PrintInfo(S, 'Commutes', 'output.txt', False)
for line in open('output.txt').readlines():
    print (line.strip())

####spektral

In [ ]:
#!pip install spektral

In [ ]:
import pandas as pd
from sys import getsizeof
import numpy as np
from tqdm import tqdm
import gc
from scipy import sparse as sp

In [ ]:
from spektral.data import Dataset, Graph

In [ ]:
class calcio_graph(Dataset):
    def __init__(self, amount = 500_000, train = 0.5, validation = 0.3, **kwargs):
        self.amount = amount
        self.train = train
        self.validation = validation
        self.mask_tr = self.mask_va = self.mask_te = None
        super().__init__(**kwargs)
    def read(self):
        x_df = pd.read_csv('./nodes.csv.gz', usecols = [0, 1, 2], header = 0, names = ['idx','feat', 'y'])
        x_df = x_df.iloc[-self.amount:, :].set_index('idx').sort_index()
        x = np.zeros((len(x_df), max(x_df.feat) + 1))
        for cnt, feat in enumerate(x_df.feat):
            x[cnt, feat] = 1
        edges_df = pd.read_csv('./edges.csv.gz')
        edges_df = edges_df[(edges_df.source < self.amount) & (edges_df.target < self.amount)]
        a = sp.csr_matrix((
            np.ones(len(edges_df)), 
            (edges_df.source.values, edges_df.target.values)
                            ), shape=None).astype(np.float32)
        y = x_df.y.values
        self.mask_tr = np.arange(len(x_df)) < int(len(x_df) * self.train)
        self.mask_va = (np.arange(len(x_df)) > int(len(x_df) * self.train)) & \
                        (np.arange(len(x_df)) < int(len(x_df) * (self.train + self.validation)))
        self.mask_te = np.arange(len(x_df)) > int(len(x_df) * (self.train + self.validation))
        return [Graph(x = x, a = a, y = y)]

In [ ]:
dataset = calcio_graph(
                    #transforms=[NormalizeAdj()]
                    )

In [ ]:
dataset[0].y

array([1, 0, 0, ..., 1, 1, 0])

In [ ]:
(np.arange(10) > 4) & (np.arange(10) < 8)

array([False, False, False, False, False,  True,  True,  True, False,
       False])

100%|██████████| 10680345/10680345 [00:21<00:00, 504042.08it/s]

In [ ]:
x_df = pd.read_csv('./nodes.csv.gz', usecols = [0, 1], header = 0, names = ['idx','feat'])

In [ ]:
x_df = x_df.iloc[-500_000:, :].set_index('idx').sort_index()

In [ ]:
x_df

        feat
idx
0        381
1        136
2         33
3        376
4        765
...      ...
499995   138
499996   691
499997    14
499998   253
499999    18

[500000 rows x 1 columns]

In [ ]:
x_arr = np.zeros((len(x_df), max(x_df.feat) + 1))

In [ ]:
x_arr.shape

(500000, 793)

In [ ]:
for cnt, feat in enumerate(x_df.feat):
    x_arr[cnt, feat] = 1

In [ ]:
edges_df = pd.read_csv('./edges.csv.gz')
edges_df = edges_df[(edges_df.source < 500_000) & (edges_df.target < 500_000)]

In [ ]:
adj = np.ones(len(edges_df))

In [ ]:
a = sp.csr_matrix((adj, (edges_df.source.values, edges_df.target.values)), shape=None).astype(np.float32)

In [ ]:
csr_index = np.arange(len(edges_df))

In [ ]:
a_idx = sp.csr_matrix((csr_index, (edges_df.source.values, edges_df.target.values)), shape=None).astype(np.float32)

In [ ]:
cx = sp.coo_matrix(a_idx)

In [ ]:
cx.row

array([     0,      1,      2, ..., 499998, 499999, 499999], dtype=int32)

In [ ]:
cx.col

array([     1,      0,      3, ..., 499999, 458776, 499998], dtype=int32)

In [ ]:
for i, j, v in zip(cx.row, cx.col, cx.data):
            index_list.append(int(v))

In [ ]:
#del data_df
gc.collect()

44

In [ ]:
round(getsizeof(data_df) / 1024 / 1024, 2)

3002.32